<div class="section__head">
	{% case template %}

		{% when 'customers/account' %}
			<h1 class="section__title">
				{{- 'customer.account.title' | t -}}
			</h1><!-- /.section__title -->

			<div class="section__customer">
				<p>{{ customer.first_name }} {{ customer.last_name }}</p>

				<a href="/account/logout">
					{{- 'customer.account.logout' | t -}}
				</a>
			</div>

		{% when 'customers/order' %}
			<h1 class="section__title">
				{{- 'customer.account.order_details' | t -}}
			</h1><!-- /.section__title -->

			<div class="section__order">
				<a href="/account">
					{{- 'customer.account.back_order_history' | t -}}
				</a>

				<p>{{ 'customer.order.title' | t: name: order.name }}</p>

				<p class="order-head__date visible-xs-block">
					{%- assign date_format = 'date_formats.short' | t -%}

					{{- 'customer.order.date' | t: date: order.created_at | date: date_format -}}
				</p>
			</div>

		{% when 'customers/addresses' %}
			<h1 class="section__title">
				{{- 'customer.addresses.title' | t -}}
			</h1><!-- /.section__title -->

			<div class="section__order">
				<a href="/account">
					{{- 'customer.account.back_order_history' | t -}}
				</a>
			</div>

	{% endcase %}
</div><!-- /.section__head -->
