<!-- article-thumbnail snippet -->
 {% if showNewest == 1 %}

<div class=" one-whole">
  <div class="featured__article--holder ">
    <a href="{{ article.url}}" class="no-underline">
  <div class="grid grid--table small--break-table grid--no-gutters">
    <div class="grid__item medium-up--three-fifths">
         {% assign image_new_url = '' %}
  
  {% assign big_size = '900x450' %}
  {% assign small_size = '300x150' %}
  {% if section.settings.featured_article_image  %}
  
  {% assign image_new_url = section.settings.featured_article_image | img_url: big_size, crop: 'center' %}
  
  {% else %}
  
      {% if article.image %}
        {% assign image_new_url = article.image | img_url: big_size, crop: 'center'%}
      {% elsif article_content contains '<img' %}
        {% assign featured_image_src = article_content | split: 'src="' %}
        {% assign image_new_url = featured_image_src[1] | split: '"' | first %}
  
  {% assign img_format = image_new_url |split: '.' |last %}
  
   {% assign image_new_url = image_new_url |split: img_format |first |remove_last: '.' |split: '_' |first |append: '_' |append: big_size |append: '_crop_center.' | append: img_format %}
  
  {% endif %}

  {% endif %}
      
      <div class="image__holder">
  {{ image_new_url | img_tag: article.title }}
        <div class="text-holder">
          <div class="text-content bold h3">
             {{ 'blogs.article.read_more' | t }} 
          </div>
             </div>
      </div>
    </div>
    <div class="grid__item medium-up--two-fifths">
      <div class="content-holder padding-left-lg">
        <h4 class=" bold text-center"> wonderful </h4>
        <h4 class="f18 bold text-center no-margin no-underline">
        {{ article.title }}
        </h2>
      </div>
  </div>
    </div>
    </a>
</div>
</div>

{% elsif showNewest == 2 %}
<div class="grid__item medium-up--one-half">
     {% assign image_new_url = '' %}
  
  {% assign big_size = '600x300' %}
  {% assign small_size = '300x150' %}
  {% if section.settings.featured_article_image  %}
  
  {% assign image_new_url = section.settings.featured_article_image | img_url: big_size, crop: 'center' %}
  
  {% else %}
  
      {% if article.image %}
        {% assign image_new_url = article.image | img_url: big_size, crop: 'center'%}
      {% elsif article_content contains '<img' %}
        {% assign featured_image_src = article_content | split: 'src="' %}
        {% assign image_new_url = featured_image_src[1] | split: '"' | first %}
  
  {% assign img_format = image_new_url |split: '.' |last %}
  
   {% assign image_new_url = image_new_url |split: img_format |first |remove_last: '.' |split: '_' |first |append: '_' |append: big_size |append: '_crop_center.' | append: img_format %}
  
  {% endif %}

  {% endif %}
   <a href="{{ article.url}}" class="no-underline">
      <div class="small__featured">
      <div class="image__holder">
  {{ image_new_url | img_tag: article.title }}
  </div>
  
  <div class="text__holder">
     <h5 class="medium-up--five-sixths bold  no-underline text-center margin-auto margin-bottom-sm tags">
      {{ article.tags }}
    </h5>
    <h2 class="medium-up--five-sixths f16 bold  no-underline text-center margin-auto">
      {{ article.title }}
    </h2>
        </div>
  </div>
  </a>
</div>

{% else %}
<div class="margin-bottom-lg grid__item small--one-whole text-center {% if showNewest == 1 and section.settings.show_featured_article %}{% if forloop.index == 1 %}medium-up--one-whole {% else %} medium-up--one-third{% endif %}{% else %}{% if size %} {{ size }} {% else %} medium-up--one-third {% endif %}{% endif %}">
      {% assign article_content = article.excerpt_or_content %}
      {% assign image_new_url = '' %}
  
  {% assign big_size = '500x200' %}
  {% assign small_size = '300x150' %}
{% if forloop.index == 1 %}
  {% if section.settings.featured_article_image  and showNewest == 1 %}
  
  {% assign image_new_url = section.settings.featured_article_image | img_url: big_size, crop: 'center' %}
  
  {% else %}
  
      {% if article.image %}
        {% assign image_new_url = article.image | img_url: small_size, crop: 'center'%}
      {% elsif article_content contains '<img' %}
        {% assign featured_image_src = article_content | split: 'src="' %}
        {% assign image_new_url = featured_image_src[1] | split: '"' | first %}
  
  {% assign img_format = image_new_url |split: '.' |last %}
  
   {% assign image_new_url = image_new_url |split: img_format |first |remove_last: '.' |split: '_' |first |append: '_300x150_crop_center.' | append: img_format %}
  
  {% endif %}

  {% endif %}
  {% else %}
  
  {% if article.image %}
        {% assign image_new_url = article.image | img_url: small_size, crop: 'center'%}
      {% elsif article_content contains '<img' %}
        {% assign featured_image_src = article_content | split: 'src="' %}
        {% assign image_new_url = featured_image_src[1] | split: '"' | first %}
  
  {% assign img_format = image_new_url |split: '.' |last %}
  
   {% assign image_new_url = image_new_url |split: img_format |first |remove_last: '.' |split: '_' |first |append: '_300x150_crop_center.' | append: img_format %}
 {% endif %}
  {% endif %} 
      <article class="{% if forloop.index == 1 and section.settings.show_featured_article %} featured__article {% endif %} article grid small--text-center">
<a class="no-underline" href="{{ article.url }}">
        {% unless image_new_url == blank %}
          <div class="grid__item one-whole">
            <div class="image__holder">
              {{ image_new_url | img_tag: article.title }}
            </div>
          </div>
        {% endunless %}

        <div class="grid__item one-whole">
          <div class="article__info-wrapper h5 text-center margin-vertical-sm">
           
          <time class="uppercase" datetime="{{ article.published_at | date: '%Y %b %d' }}" >{{ article.published_at | date: '%b %d, %Y' }}</time>
        </div>

          <h3 class="article-title uppercase no-underline color-dark bold text-center">{{ article.title }}</h3>

{% comment %}
          <p>
            {{ 'blogs.article.read_more' | t }} <span class="icon icon-arrow-right" aria-hidden="true"></span>
          </p>

          {% if article.tags.size > 0 %}
            <ul class="tags tags--article inline-list">
              {% include 'tags-article' %}
            </ul>
          {% endif %}
          
          {% endcomment %}
          
          
        </div>
  </a>
      </article>

        </div>
{% endif %}
<!-- end article-thumbnail snippet -->