<div class="info-holder">
    
  <div class="grid grid--no-gutters">
     <div class="grid__item one-half">
       Total varnish:
     </div>
     <div class="grid__item one-half text-right">
       <span class="varnish-count">{{ varnishCount }}</span>
     </div>
     <div class="grid__item one-half">
       Total paste:
     </div>
     <div class="grid__item one-half text-right">
     <span class="paste-count">{{ pasteCount }}</span>
     </div>
     <div class="grid__item one-half">
       {{ 'cart.general.subtotal' | t }}
     </div>
     <div class="grid__item one-half text-right">
        <span class="cart__subtotal">{{ bold_cart_total_price | money }}</span>
     </div>
    <div class="grid__item one-whole">
     <div class="one-whole border-bottom margin-bottom-md">
       &nbsp;
      </div>
    </div>
    </div>
    
    <div class="grid grid--no-gutters">
      <div class="grid__item one-half">
       {{ 'cart.general.total' | t }}
     </div>
     <div class="grid__item one-half text-right">
        <span class="cart__subtotal">{{ bold_cart_total_price | money }}</span>
     </div>
    <div class="grid__item one-whole">
     <div class="one-whole border-bottom margin-bottom-0">
       &nbsp;
      </div>
    </div>
    </div>
    
    <div class="text-right small--text-center">
     
            {% if cart.total_discounts > 0 %}
              <div class="cart__savings">
                {{ 'cart.general.savings' | t }}
                <span class="cart__savings-amount">{{ cart.total_discounts | money }}</span>
              </div>
            {% endif %}
            <div class="cart__shipping">{{ 'cart.general.shipping_at_checkout' | t }}</div>
            <a href="collections/all" class=" hide btn btn--secondary cart__update cart__continue--large small--hide" >{{ 'cart.general.continue_shopping' | t }}</a>
         <div class="additional-checkout-buttons">
			{{ content_for_additional_checkout_buttons }}
		 </div>
      
  	    <a href="#" class=" btn btn--checkout-mimic margin-left-0 float-right small--hide" >{{ 'cart.general.checkout' | t }}</a>
        <a href="/checkout" class=" btn checkout-btn margin-left-md medium-up--hide" >{{ 'cart.general.checkout' | t }}</a>
               


          </div>
    
    </div>