<tr class="{% cycle 'pure-table-odd', '' %}">
  <td class="one-ninth no-padding">
    <a href="javascript:void(0)" class="QVopen" data-id="{{ product.id }}">
      {% if product.metafields.featured_image.img != blank %}
        <div class="detect-safari">
          <img
            class="lazy"
            data-type="webp"
            data-src="{{ product.metafields.featured_image.img }}"
            style="display: none;"
            alt="{{ variant.title | escape }}"/>
          <img
            class="lazy"
            data-type="png/jpeg"
            data-src="{{ variant.image | default: product.featured_image | img_url: 'small' }}"
            style="display: none;"
            alt="{{ variant.title | escape }}"/>
        </div>
      {% else %}
        <img
          class="lazy"
          data-src="{{ variant.image | default: product.featured_image | img_url: 'small' }}"
          alt="{{ variant.title | escape }}"/>
      {% endif %}
    </a>
    
    {% include 'quick-view-modal' %}
  </td>
  <td class="five-ninths h5">
    {% if product.tags contains 'pre_order' %}
      <p class="red no-margin bold">{{ pre_order }}</p>
    {% endif %}
    
    <a href="javascript:void(0)" class="QVopen" data-id="{{ product.id }}">
      {% if product.tags contains 'pre_order' %}
        <div class="darkred">{{ product.title }}</div>
      {% else %}
        {{ product.title }}
      {% endif %}
    </a>
  </td>
  <td class="one-ninth">
    {{ variant.price | money }}
  </td>
  <td class="one-ninth">
    <span class="small-font">
      {% for tag in product.tags %}
        {% if tag contains 'product_package:' %}
          {{ tag |remove: 'product_package:' |strip }}
        {% endif %}
      {% endfor %}
    </span>
  </td>
  <td class="one-ninth medium-up--text-right small--padding-left-0">
    {% assign qty = 0 %}
    
    {% for item in cart.items %}
      {% if item.variant_id == variant.id %}
        {% assign qty = item.quantity %}
      {% endif %}
    {% endfor %}
    
    {% assign varnishCount = varnishCount | plus: qty %}
    
    <input
      data-category="varnish"
      data-image="{{ product.featured_image | asset_img_url: '500x' }}"
      data-price="{{variant.price | money_without_currency}}"
      data-name="{{product.title}}"
      data-id="{{variant.id}}"
      name="updates[{{ variant.id }}]"
      onfocus="this.select()"
      class="small--hide quantity field"
      min="0"
      {% unless variant.inventory_management == blank or variant.inventory_policy == 'continue' %}
        max="{{ variant.inventory_quantity }}"
      {% endunless %}
      type="number"
      value="{{ qty }}"
      tabindex="1"/>

    <select
      class="text-center cart-input medium-up--hide {{ added }}"
      name="updates[{{ variant.id }}]"
      data-package="{% if package != '' %}{{ package }}{% else %}1 piece{% endif %}"
      data-id="{{ product.selected_or_first_available_variant.id }}">
      {% for i in (0..30) %}
        <option
          value="{{ i }}"
          {% unless qty != i %}
            selected="selected"
          {% endunless %}>{{ i }}</option>
      {% endfor %}
    </select>
  </td>
</tr>