{% capture reviewers %}{{ 'reviewer1.png' | asset_url | }},{{ 'reviewer2.png' | asset_url | }},{{ 'reviewer3.png' | asset_url | }},{{ 'reviewer4.png' | asset_url | }},{{ 'reviewer5.png' | asset_url | }}{% endcapture %}
{% assign reviewers = reviewers |split: ',' %}
{% assign review = review | split: '|' %}
                
  {% assign stars = review[0] |plus: 0 %}
                
  {% assign writer = review[2] %}
                
  {% assign text = review[3] %}
                
  {% assign textCheck = review[3] |remove: '"' |strip %}
                
  {% assign date = review[5] |split: 'T' |first |split: '-' |reverse |join: '/' |remove: ' ' %}

            {% assign minImg = 0 %}
{% assign maxImg = reviewers.size |minus: 1 %}
{% assign diffImg = maxImg | minus: minImg %}
{% assign randomNumberImg = "now" | date: "%N" | modulo: diffImg | plus: minImg %}


{% if textCheck != '' %}
           <div>
        <div class="quotes-slide text-left padding-vertical-sm">
            <div class="review-holder">
            <div class="medium-up--two-thirds">
              <div class="grid grid--table grid--no-gutters">
               <div class="grid__item one-quarter"> 
                <div class="bubble no-overflow margin-bottom-sm">
                  <img src="{{ reviewers[randomNumberImg] }}"/>
        </div>
                </div>
                <div class="grid__item vert-bottom three-quarers">
                <div class="padding-left-sm">
                  <h3 class="bold h4">{{ writer }}</h3>
                  <img src="{{ '5-stars.png' | asset_img_url: '100x'}}">
                  </div>
              </div>
              </div>
            </div>
              
            <blockquote class="quotes-slider__text no-margin text-left no-padding">
              {{ text }}
            </blockquote>
            </div>
          </div>
         </div>

                {% else %}
                {% assign number = number |plus: 1 %}
                {% endif %}