  <div class="grid__item medium-up--two-fifths">
    <div class="product-descriptions margin-bottom-md padding-md">
      <h1 class="product-title-holder lowercase text h2 bold margin-bottom-md small--margin-top-md">
       {{ collection.title |replace: '-', ' ' }}
      </h1>
      <div class="product-price-holder margin-bottom-0 small--hide">
        <div class="product__price h5 text bold no-margin">
            <span class="priceToChange real-price{% if current_variant.compare_at_price %} discounted{% endif %}">{{ current_variant.price | money }}</span>
            <span class="comparePrice compare-price">{% if current_variant.compare_at_price %}
              {{ current_variant.compare_at_price | money }}{% endif %}
            </span>
          {% for tag in product.tags %}
          {% if tag contains 'product_package:' %}
          {% if collection.handle == "paste" %} <p class="no-margin">{{ tag |split: ':' |last |split: '/' |first }} cups/unit</p> {% elsif collection.handle == "varnish" %} <p class="no-margin">{{ tag |split: ':' |last |split: '/' |first }} doses/unit</p> {% elsif collection.handle contains "angles" %}<p>100 angles / unit <br/>100% latex-free </p>{% endif %}

          {% if collection.handle == "paste" %} <p class="no-margin">medium grit</p> {% elsif collection.handle == "varnish" %} 0.5ml 5% sodium fluoride varnish{% endif %}
          
          {% endif %}
          {% endfor %}
                 
          </div>
      </div>      
      <div class="product-swatches margin-vertical-lg">
        <h6 class="bold uppercase margin-bottom-0">
          {% if collection.handle contains "angles" %}
          <div class="inline-block h6 no-margin vert-top no-overflow">{{ 'products.product.kind' |t }}:</div>
          {% else %}
          <div class="inline-block h6 no-margin vert-top no-overflow">{{ 'products.product.color' |t }}:</div>
          {% endif %}
          <div class="title-holder hide light text capitalize inline-block vert-top no-overflow">{{ collProductTitles }}</div>
        </h6>
        <div class="grid">
          <div class="grid__item medium-up--one-half small--one-half">
        <div class="changeProductHolder ">
        <select id="changeProduct" class="width-100">
        {{ swatchColorElements }}
        </select>
        </div>
          </div>
          <div class="grid__item medium-up--one-half small--one-half">
                <div class="input__number-holder">
                <div class="qty minus">-</div>
                <input type="number" class="no-spin" name="test" value="1" min="0" >
                <div class="qty plus">+</div>
                </div>
          </div>
        </div>
      </div>
      <div class="product-price-holder margin-bottom-md medium-up--hide">
        <div class="product__price">
            <span class="priceToChange real-price{% if current_variant.compare_at_price %} discounted{% endif %}">{{ current_variant.price | money }}</span>
            <span class="comparePrice compare-price">{% if current_variant.compare_at_price %}
              {{ current_variant.compare_at_price | money }}{% endif %}
            </span>
          {% for tag in product.tags %}
          {% if tag contains 'product_package:' %}
          {% if collection.handle == "paste" %} <p class="no-margin">{{ tag |split: ':' |last |split: '/' |first }} cups/unit</p> {% elsif collection.handle == "varnish" %} <p class="no-margin">{{ tag |split: ':' |last |split: '/' |first }} doses/unit</p> {% elsif collection.handle contains "angles" %}<p>100 angles / unit <br/>100% latex-free </p>{% endif %}

          {% if collection.handle == "paste" %} <p class="no-margin">medium grit</p> {% elsif collection.handle == "varnish" %} 0.5ml 5% sodium fluoride varnish{% endif %}
          
          {% endif %}
          {% endfor %}  </div>
      </div>
	  <div class="product-options text-left margin-bottom-md {% if product.variants.size < 2 %}hide{% endif %}">
        <h6 class="bold uppercase margin-bottom-sm2">{{ product.options_with_values[0].name }}</h6>
        {% assign sizes = sizes |remove: '-'|split: ',' %}
        {% for size in sizes %}
        <div class="size-option{% if product.selected_or_first_available_variant.option1 == size %} active{% endif %}" data-size="{{ size }}">
          {{ size }}
        </div>
        {% endfor %}
      </div>
      <div class="addToCartHolder">
        <a href="javascript:void(0);" class="btn width-100 bold text-center no-underline padding-vertical-md" id="addToCart">{{ 'products.product.add_to_cart' | t }}</a>
      </div>
    </div>
    <div class="product-description margin-bottom-md">
        {{ collection.description }} {% comment %} instead of {{ collProductDescriptions }} {% endcomment %}
      </div>
      {% if section.blocks.size > 0 and collection.handle == "paste" %}
  <div class="free-snippet padding-vertical-xlg">
    {% include 'free-snippet' %}
  </div>
  {% endif %}
  </div>