{% if customer %}
  <div class="account-drawer{% if customer.orders.size > 0 %} order-placed{% endif %}">
    {% if customer.orders.size > 0 %}
      {% assign product = 0 %}
      <ul>
        <li>{{- 'layout.customer.buy_again' | t -}}</li>
        {% for order in customer.orders %}
          {% assign orders = order.line_items | sort: 'title' | sort: 'quantity' %}
        
          {% for line_item in orders  %}
            {% if product < 3 %}
              <li class="product-item" data-order-qty="{{ line_item.quantity }}">
                <div class="product-item__image">{{ line_item.image | img_url: '60x60' | img_tag | link_to: line_item.url }}</div>
                <div class="product-item__title">
                  <p class="title">{{ line_item.title | link_to: line_item.url }}</p>
                  <p class="price">{{ line_item.final_price | money }}</p>
                  <button type="button" class="btn btn-add-again" data-id="{{ line_item.product.selected_or_first_available_variant.id }}" data-qty="1">{{- 'products.product.add_to_cart' | t -}}</button>
                </div>
              </li>

              {% assign product = product | plus: 1 %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>
    {% endif %}
    <ul>
      <li>{{- 'layout.customer.dashboard' | t -}}</li>
      <li><a href="/pages/your-account">{{- 'layout.customer.dashboard' | t -}}</a></li>
      <li><a href="/account?view=order-history">{{- 'layout.customer.orders' | t -}}</a></li>
      <li><a href="/account/addresses">{{- 'layout.customer.addresses' | t -}}</a></li>
      <li><a href="/account/logout">{{- 'layout.customer.log_out' | t -}}</a></li>
    </ul>
  </div>
{% endif %}

<script>
  (function () {
  
    $('.btn-add-again').on('click', function (e) {
      const id = $(this).data('id'),
            qty = $(this).data('qty');
      
      if (!$(this).hasClass('disabled')) {
        push_to_queue(id, qty);
        Shopify.moveAlong();

        $(this).addClass('disabled').text('{{ 'products.product.added_for_dropdown' | t }}');
      }
    })
  
  })(jQuery)
</script>