<div class="landing-logos-wrapper padding-vertical-lg" style="background-color: {{ section.settings.background_color }};">
  <div class="small-width">
    <div class="grid grid--no-gutters landing-logos-imgs">
      {% for block in section.blocks %}
        <div class="grid__item medium-up--one-quarter landing-logos-img text-center padding-horizontal-lg padding-vertical-md">
          {% if block.settings.image_svg != blank %}
            <img src="{{ block.settings.image_svg }}" style="max-height: 90px;">
          {% elsif block.settings.image != blank %}
            {{ block.settings.image | img_url: '140x' | img_tag }}
          {% endif %}
          {% if block.settings.text != blank %}
            <h4 class="bold" style="color: {{ section.settings.color }};">{{ block.settings.text }}</h4>
          {% endif %}
          {% if block.settings.sub_text != blank %}
            <p>{{ block.settings.sub_text }}</p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    {% if section.settings.bottom_text != blank %}
      <h5 class=" bold text-center padding-top-md" style="color: {{ section.settings.color }};">{{ section.settings.bottom_text }}</h5>
    {% endif %}
  </div>
</div>