<div class="text-center" id="price" style="background-color: {{ section.settings.background_color }};">
  <div class="wrappercontent"> 
    <h2 class="h2 bold margin-bottom-lg">How do we keep our price so low? </h2>
    <div class="grid">
      <div class="grid__item medium-up--one-quarter">
        {{ 'no-advertising.png' | asset_url | img_tag }}
        <h2> No large advertising budget </h2>
      </div>
      <div class="grid__item medium-up--one-quarter">
        {{ 'no-reps.png' | asset_url | img_tag }}
        <h2> No costly sales reps  </h2><div class="brr">  lk </div> 
      </div>
      <div class="grid__item medium-up--one-quarter">
        {{ 'no-supplyhouse.png' | asset_url | img_tag }}
        <h2> No dental supply house markup </h2>
      </div>
      <div class="grid__item medium-up--one-quarter">
        {{ 'no-fancy.png' | asset_url | img_tag }}
        <h2> No fancy packaging </h2><div class="brr">  lk </div> 
      </div>
    </div>
  </div>
</div>