<div class="hero" style="height: auto;">
  <div class="hero hero--{{ section.id }} hero--{{ section.settings.hero_size }}{% if section.settings.title != blank or section.settings.text != blank or section.settings.button_label != blank %} hero__overlay{% endif %}">
    <div class="hero__inner padding-0" style="background-color: {{ section.settings.background_color }};">
      <div class="page-width text-center">
        <div class="grid grid--no-gutters">
          <div class="grid__item medium-up--one-half hero__half">
            {% if section.settings.image != blank %}
              {{ section.settings.image }}
            {% else %}
              {{ 'wonderful-varnish3.png' | asset_url | img_tag }}
            {% endif %}
          </div>

          <div class="grid__item medium-up--one-half hero__half">
            <h2 class="h1 margin-bottom-0 mega-title text-left{% if section.settings.text_size == 'large' %} mega-title--large{% endif %}" style="color: {{ section.settings.color }};">
              {{ section.settings.title }}
            </h2>
            
            
            {% if template.suffix == "landing-1" %}
            <a class="btn btn-new margin-horizontal-md small--margin-top-sm medium-up--margin-vertical-sm medium-up--margin-bottom-md margin-bottom-xlg" href="order-now" > Order Now </a>
            {% else %}
            <a class="btn btn-new margin-horizontal-md small--margin-top-sm medium-up--margin-vertical-sm medium-up--margin-bottom-md margin-bottom-xlg" href="samples">Request Free Samples </a> 
            {% endif %}
            
            
          </div>
        </div>
      </div>
    </div>
  </div>
  
  {% include 'arrow-down' %}
</div>