<div id="process" class="text-center" style="background-color: {{ section.settings.background_color }};">
  <h2 class="h1">Our process is simple</h2>
  
  <div class="wrappercontent"> 
    <div class="big-seventh">
      {{ 'formulate.png' | asset_url | img_tag }}
      <h2>Formulate</h2>
    </div>
    
    <div class="small-seventh">
      {{ 'arrow.png' | asset_url | img_tag }}
    </div>

    <div class="big-seventh">
      {{ 'warehouse.png' | asset_url | img_tag }}
      <h2>Warehouse</h2>
    </div>
    
    <div class="small-seventh">
      {{ 'arrow.png' | asset_url | img_tag }}
    </div>

    <div class="big-seventh">
      {{ 'ship.png' | asset_url | img_tag }}
      <h2>Ship</h2>
    </div>
    
    <div class="small-seventh">
      {{ 'arrow.png' | asset_url | img_tag }}
    </div>  

    <div class="big-seventh">
      {{ 'dental-office.png' | asset_url | img_tag }}
      <h2>Success</h2>
    </div>
  </div>
</div>