 {% form 'contact' %}

          {% if form.posted_successfully? %}
            <p class="form-success margin-top-md margin-bottom-sm">
              {{ 'contact.form.post_success' | t }}
            </p>
          {% endif %}

          {{ form.errors | default_errors }}

          <div class="grid margin-top-md">
   
            <div class="grid__item medium-up--one-whole margin-bottom-sm">
              <label for="ContactFormEmail" class="bold {% if form.errors contains 'email' %}label--error{% endif %}">{{ 'contact.form.email' | t }}</label>
              <input type="email" id="ContactFormEmail" name="contact[email]" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" class="{% if form.errors contains 'email' %}input--error{% endif %}">
            </div>
      
          
            <div class="grid__item medium-up--one-whole margin-bottom-md">
          <label class="bold"  for="ContactFormMessage">{{ 'contact.form.message' | t }}</label>
          <textarea rows="1" id="ContactFormMessage" required name="contact[body]">{% if form.body %}{{ form.body }}{% endif %}</textarea>
            </div>
            
             <div class="grid__item medium-up--one-whole text-center">
              <input type="submit" class="btn btn--alt" value="{{ 'contact.form.submit' | t }} Message">
            </div>
                 
        {% endform %}
                </div>