<div
  class="modal__overlay quick-view-modal"
  data-id="{{ product.id }}"
  data-title="{{ product.title }}"
  style="display: none;">
  <div class="modal__close--overlay"></div>
  
  <div class="modal__content small--padding-top-0">
    <div class="modal__close h2 no-margin">
      &times;<span class="close-label uppercase">close</span>
    </div>
    
    <div class="modal__text-content text-left">

      <div class="grid toCheckHeight">
        <div class="grid__item medium-up--two-fifths">
          {% if product.variants.size > 1 %}
            {% if hasVariantImages == 0 %}
              <div class="variant-image-holder">
                <img
                  src="{{ product.featured_image |img_url: '400x400' }}"
                  data-thumbnail-id="noVariantImages"
                  class="thumbnail width-100 margin-bottom--sm2"
                  data-src="{{ variant.image |img_url: '400x400' }}"/>
              </div>
            {% else %}
              {% for variant in product.variants limit : 1 %}
                {% if product.metafields.featured_image.img != blank %}
                  <div class="detect-safari">
                    <img
                      class="lazy image-to-change"
                      data-type="webp"
                      data-src="{{ product.metafields.featured_image.img }}"
                      style="display: none;"
                      alt="{{ variant.title | escape }}"/>
                    <img
                      class="lazy image-to-change"
                      data-type="png/jpeg"
                      data-src="{{ product.featured_image |img_url: '400x400' }}"
                      style="display: none;"
                      alt="{{ variant.title | escape }}"/>
                  </div>
                {% else %}
                  <img
                    class="lazy image-to-change"
                    data-src="{{ product.featured_image |img_url: '400x400' }}"
                    alt="{{ variant.title | escape }}"/>
                {% endif %}
              {% endfor %}
            {% endif %}
          {% else %}
            {% if product.metafields.featured_image.img != blank %}
              <div class="detect-safari">
                <img
                  class="lazy image-to-change"
                  data-type="webp"
                  data-src="{{ product.metafields.featured_image.img }}"
                  style="display: none;"
                  alt="{{ variant.title | escape }}"/>
                <img
                  class="lazy image-to-change"
                  data-type="png/jpeg"
                  data-src="{{ product.featured_image |img_url: '400x400' }}"
                  style="display: none;"
                  alt="{{ variant.title | escape }}"/>
              </div>
            {% else %}
              <img
                class="lazy image-to-change"
                data-src="{{ product.featured_image |img_url: '400x400' }}"
                alt="{{ variant.title | escape }}"/>
            {% endif %}
          {% endif %}
        </div>
        <div class="grid__item medium-up--three-fifths">
          {% assign titleToSearch = product.title | split : ' ' | last %}
          {% for collection in product.collections %}
            {% if collection.title contains titleToSearch %}
              {% assign prodColl = collection %}
              {% break %}
            {% endif %}
          {% endfor %}

          <div class="product-descriptions margin-bottom-md padding-md">
            <div class="content-wrapper">
              <div class="title-price-holder">
                <h3 class="margin-bottom-sm bold">
                  {{ product.title }}
                </h3>

                <div class="product__price h5 text bold margin-bottom-md">
                  <span class="priceToChange real-price{% if product.selected_or_first_available_variant.compare_at_price %} discounted{% endif %}">
                    {{ product.selected_or_first_available_variant.price | money }}
                  </span>
                  <span class="comparePrice compare-price">
                    {% if product.selected_or_first_available_variant.compare_at_price %}
                      {{ product.selected_or_first_available_variant.compare_at_price | money }}
                    {% endif %}
                  </span>
                  
                  {% for tag in product.tags %}
                    {% if tag contains 'product_package:' %}
                      {% if prodColl.handle == "paste" %}
                        <p class="no-margin">{{ tag |split: ':' |last |split: '/' |first }}
                          cups/unit</p>
                        {% elsif prodColl.handle == "varnish" %}
                        <p class="no-margin">{{ tag |split: ':' |last |split: '/' |first }}
                          doses/unit</p>
                        {% elsif prodColl.handle contains "angles" %}
                        <p>100 angles / unit
                          <br/>100% latex-free
                        </p>
                      {% endif %}

                      {% if prodColl.handle == "paste" %}
                        <p class="no-margin">medium grit</p>
                      {% elsif prodColl.handle == "varnish" %}
                        0.5ml 5% sodium fluoride varnish
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </div>
              </div>

              {% assign shown = 0 %}
              {% include 'quick-view-options' %}
              {% assign shown = 1 %}
            </div>
          </div>
        </div>
      </div>

      <div class="rte color-black">
        {{ prodColl.description }}
      </div>
      
      {% include 'product-reviews', enable_grid: 'true', grid_size: 'medium-up--one-half' %}
      
      <div class="medium-up--hide">
        <div class="product-descriptions margin-bottom-md padding-md">
          <div class="content-wrapper">
            <div class="title-price-holder">
              <h3 class="margin-bottom-sm bold">
                {{ product.title }}
              </h3>

              <div class="product__price h5 text bold margin-bottom-md">
                <span class="priceToChange real-price{% if product.selected_or_first_available_variant.compare_at_price %} discounted{% endif %}">
                  {{ product.selected_or_first_available_variant.price | money }}
                </span>
                <span class="comparePrice compare-price">
                  {% if product.selected_or_first_available_variant.compare_at_price %}
                    {{ product.selected_or_first_available_variant.compare_at_price | money }}
                  {% endif %}
                </span>
                
                {% for tag in product.tags %}
                  {% if tag contains 'product_package:' %}
                    {% if prodColl.handle == "paste" %}
                      <p class="no-margin">{{ tag |split: ':' |last |split: '/' |first }}
                        cups/unit</p>
                      {% elsif prodColl.handle == "varnish" %}
                      <p class="no-margin">{{ tag |split: ':' |last |split: '/' |first }}
                        doses/unit</p>
                      {% elsif prodColl.handle contains "angles" %}
                      <p>100 angles / unit
                        <br/>100% latex-free
                      </p>
                    {% endif %}

                    {% if prodColl.handle == "paste" %}
                      <p class="no-margin">medium grit</p>
                    {% elsif prodColl.handle == "varnish" %}
                      0.5ml 5% sodium fluoride varnish
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </div>
            </div>

            {% include 'quick-view-options' %}

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
