<script>
  console.log('stars--{{ totalReviewsCounter }}--{{ star0 }}--{{ star1 }}--{{ star2 }}--{{ star3 }}--{{ star4 }}--{{ star5 }}');
</script>

    {% assign totalReviewsCounter = totalReviewsCounter |times: 1.0 %}

<div class="rating-holder margin-bottom-lg medium-up--one-third">
  <div class="star-holder star5">
    <div class="grid grid--table grid--no-gutters">
      <div class="grid__item one-fifth">
        5 star
      </div>
    <div class="grid__item three-fifths">
<div class="line-holder width-100 relative">
      <div class="stars-line" style="width: {{ star5 |divided_by: totalReviewsCounter |times: 100.0 }}%">
    
    </div>
      </div>
      </div>
      <div class="grid__item one-fifth">
    <div class="padding-left-sm percentage-label text-right">
      {% assign percent =  star5 |divided_by: totalReviewsCounter |times: 100.0 |split: '.' %}
      {{percent |first }}.{{ percent |last |truncate: 1, '' }}%
      
    </div>
      </div>
    </div>
  </div>
  <div class="star-holder star4">
    <div class="grid grid--table grid--no-gutters">
      <div class="grid__item one-fifth">
        4 star
      </div>
    <div class="grid__item three-fifths">
<div class="line-holder width-100 relative">
      <div class="stars-line" style="width: {{ star4 |divided_by: totalReviewsCounter |times: 100.0 }}%">
    
    </div>
      </div>
      </div>
      <div class="grid__item one-fifth">
    <div class="padding-left-sm percentage-label text-right">
      {% assign percent =  star4 |divided_by: totalReviewsCounter |times: 100.0 |split: '.' %}
      {{percent |first }}.{{ percent |last |truncate: 1, '' }}%
      
    </div>
      </div>
    </div>
  </div>
  <div class="star-holder star3">
    <div class="grid grid--table grid--no-gutters">
      <div class="grid__item one-fifth">
        3 star
      </div>
    <div class="grid__item three-fifths">
<div class="line-holder width-100 relative">
      <div class="stars-line" style="width: {{ star3 |divided_by: totalReviewsCounter |times: 100.0 }}%">
    
    </div>
      </div>
      </div>
      <div class="grid__item one-fifth">
    <div class="padding-left-sm percentage-label text-right">
      {% assign percent =  star3 |divided_by: totalReviewsCounter |times: 100.0 |split: '.' %}
      {{percent |first }}.{{ percent |last |truncate: 1, '' }}%
      
    </div>
      </div>
    </div>
  </div>
  <div class="star-holder star2">
    <div class="grid grid--table grid--no-gutters">
      <div class="grid__item one-fifth">
        2 star
      </div>
    <div class="grid__item three-fifths">
<div class="line-holder width-100 relative">
      <div class="stars-line" style="width: {{ star2 |divided_by: totalReviewsCounter |times: 100.0 }}%">
    
    </div>
      </div>
      </div>
      <div class="grid__item one-fifth">
    <div class="padding-left-sm percentage-label text-right">
      {% assign percent =  star2 |divided_by: totalReviewsCounter |times: 100.0 |split: '.' %}
      {{percent |first }}.{{ percent |last |truncate: 1, '' }}%
      
    </div>
      </div>
    </div>
  </div>
  <div class="star-holder star1">
    <div class="grid grid--table grid--no-gutters">
      <div class="grid__item one-fifth">
        1 star
      </div>
    <div class="grid__item three-fifths">
<div class="line-holder width-100 relative">
      <div class="stars-line" style="width: {{ star1 |divided_by: totalReviewsCounter |times: 100.0 }}%">
    
    </div>
      </div>
      </div>
      <div class="grid__item one-fifth">
    <div class="padding-left-sm percentage-label text-right">
      {% assign percent =  star1 |divided_by: totalReviewsCounter |times: 100.0 |split: '.' %}
      {{percent |first }}.{{ percent |last |truncate: 1, '' }}%
      
    </div>
      </div>
    </div>
  </div>
  <div class="star-holder star0">
    <div class="grid grid--table grid--no-gutters">
      <div class="grid__item one-fifth">
        0 star
      </div>
    <div class="grid__item three-fifths">
<div class="line-holder width-100 relative">
      <div class="stars-line" style="width: {{ star0 |divided_by: totalReviewsCounter |times: 100.0 }}%">
    
    </div>
      </div>
      </div>
      <div class="grid__item one-fifth">
    <div class="padding-left-sm percentage-label text-right">
      {% assign percent =  star0 |divided_by: totalReviewsCounter |times: 100.0 |split: '.' %}
      {{percent |first }}.{{ percent |last |truncate: 1, '' }}%
      
    </div>
      </div>
    </div>
  </div>
</div>