<!-- site-reviews snippet -->
{% if type == "survey" %}
    {% assign discount = 'FREESAMPLE' %}
    {% assign thanksHeading = 'Thank you for taking our survey' %}
    {% assign thanksText = 'Use the following code to get free shipping on your samples.' %}
    {% assign buttonText = 'Continue to shipping' %}
{% else %}
    {% assign discount = '5STAR2019' %}
    {% assign thanksHeading = 'Thank you for sending us a review.' %}
    {% assign thanksText = 'Use the following code to get free shipping on your next order. <br> <i> * limited to one code per office	 </i>' %}
    {% assign buttonText = 'Continue to shopping' %}
{% endif %}
<div class="pre-footer-reviews-holder grid">
    <div class="grid__item one-whole">
        <div class="grid">
            <div class="grid__item medium-up--one-half medium-up--push-one-quarter">
                <div class="reviews-header" style="display: none;">
                    <h3 class="h3 text-left margin-left-xlg bold">Review wonderful.<br/>Get free shipping.</h3>
                    <label for="selectProduct" class="spr-form-label margin-left-xlg">Select product</label>
                    <select id="selectProduct" class="margin-left-xlg">
                        <option>Select product</option>
                        {% for product in collections['all'].products %}
                            <option value="{{ product.id }}">{{ product.title }}</option>
                            {% capture prodReviews %}
                                {{ prodReviews }}
                                <div class="review-holder" id="review-holder-{{ product.id }}"
                                     {% unless product.id == 9443920067 %}style="display: none;"{% endunless %}>
                                    <!--<div class="expand-cart text-left inline-block link"> Show cart </div>-->
                                    <div class="margin-right-md margin-top--md">
                                        <div id="shopify-product-reviews" class="padding-left-md  margin-top-0"
                                             data-id="{{ product.id }}">{{ product.metafields.spr.reviews }}</div>

                                    </div>
                                </div>
                            {% endcapture %}
                        {% endfor %}
                    </select>

                    <div id="products-holder">
                        {{ prodReviews }}
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="grid__item medium-up--one-half medium-up--push-one-quarter">

    </div>
    <div class="grid__item one-whole hide text-center" id="review-success">
        <div id="form-success" class="form-success medium-up--one-half small--one-whole margin-auto padding-top-lg"
             style="">

            <div class="note padding-horizontal-xlg margin-bottom-0 text-center styled-form">
                <img src="{{ 'doctors.png' |asset_img_url: "large" }}">
                <h3 class="bold"> {{ thanksHeading }} </h3>
                <p>{{ thanksText }}</p>
                <input type="text" readonly="" id="discount_code" class="uppercase text-center margin-bottom-md"
                       value="{{ discount }}">
                <a href="/cart" class="btn btn--large text-center copy-code margin-auto">{{ buttonText }}</a>


            </div>

        </div>
        {% include 'party-snippet' %}
    </div>

</div>
<script>

    $(document).ready(function () {

        $('#selectProduct').change(function () {
            var prodId = $(this).val();
            slideEffects($('.pre-footer-reviews-holder .review-holder'), $('#review-holder-' + prodId))
        })

        $(document).on('click', '.expand-reviews', function () {
            $('.reviews-header').slideDown(300);
        })

        $('#shopify-product-reviews').on("DOMSubtreeModified", function () {

            if ($('.spr-form-message-success').length > 0) {
                console.log('success message');
                $('#review-holder').addClass('hide');
                $('#review-success, #thankyou').removeClass('hide');

                if ($('.write-a-review').find('#review-success').hasClass('hide') == false) {
                    $('.reviews-header').addClass('hide')
                }

                var stars = $('.spr-form .new-review-form input:first-child').val();

                jQuery.getJSON('/cart.js', function (cart) {
                    var cartItemsLength = cart.items.length;
                    var cartIds1 = {};
                    var i;
                    if (cartItemsLength > 0) {
                        for (i = 0; i < cartItemsLength; i++) {
                            cartIds1[i] = cart.items[i].variant_id + ':' + cart.items[i].quantity;

                            if ((i + 1) == cartItemsLength) {
                                Shopify.clear(function () {
                                    var a;
                                    var props = {};
                                    props['Discount on products'] = 'Shipping discount';

                                    for (a = 0; a < i; a++) {
                                        console.log('having it');
                                        var item = cartIds1[a].split(":");
                                        console.log('variantID:' + item[0] + '; qty: ' + item[1]);
                                        push_to_queue(item[0], item[1], props);
                                        Shopify.moveAlong();
                                        console.log('Adding item');
                                        if ((a + 1) == i) {
                                            setTimeout(function () {

                                                console.log('Items added2');
                                                //   window.location.replace("/checkout");

                                            }, 100);
                                        }
                                    }
                                })
                            }
                        }
                    }
                })
            }
        })
    })
</script>
<!-- end site-reviews snippet -->