<div class="section-account order-history">
    <div class="order-history__head">
        <p class="default">
            <a href="/pages/your-account">{{ 'layout.customer.dashboard' | t }}</a>: <span class="current-page" data-name>{{ 'layout.customer.orders' | t }}</span>
        </p>

        <h1 class="account-title">
            {{- 'layout.customer.orders' | t -}}
        </h1>
    </div>

    <div class="section__inner js-tabs-container">
        <div class="order-history__mobile-tabs">
            <select name="tab" id="tab">
                <option value="{{- 'customer.orders.all_orders' | t -}}">
                    {{- 'customer.orders.all_orders' | t -}}
                </option>
                <option value="{{- 'customer.orders.open_orders' | t -}}">
                    {{- 'customer.orders.open_orders' | t -}}
                </option>
                <option value="{{- 'customer.orders.past_orders' | t -}}">
                    {{- 'customer.orders.past_orders' | t -}}
                </option>
                <option value="{{- 'customer.orders.unpaid_orders' | t -}}">
                    {{- 'customer.orders.unpaid_orders' | t -}}
                </option>
                <option value="{{- 'customer.orders.draft_orders' | t -}}">
                    {{- 'customer.orders.draft_orders' | t -}}
                </option>
            </select>
        </div>

        <ul class="order-history__tabs">
            <li class="order-history__tab-item order-history__tab-item--active">
                <a href="#" data-tab="{{- 'customer.orders.all_orders' | t -}}"
                   class="order-history__tab-link js-tab-switcher">
                    {{- 'customer.orders.all_orders' | t -}}
                </a>
            </li>

            <li class="order-history__tab-item">
                <a href="#" data-tab="{{- 'customer.orders.open_orders' | t -}}"
                   class="order-history__tab-link js-tab-switcher">
                    {{- 'customer.orders.open_orders' | t -}}
                </a>
            </li>

            <li class="order-history__tab-item">
                <a href="#" data-tab="{{- 'customer.orders.past_orders' | t -}}"
                   class="order-history__tab-link js-tab-switcher">
                    {{- 'customer.orders.past_orders' | t -}}
                </a>
            </li>

            <li class="order-history__tab-item">
                <a href="#" data-tab="{{- 'customer.orders.unpaid_orders' | t -}}"
                   class="order-history__tab-link js-tab-switcher">
                    {{- 'customer.orders.unpaid_orders' | t -}}
                </a>
            </li>
        </ul>

        <div data-tab-content="{{- 'customer.orders.all_orders' | t -}}"
             class="order-history__tab-content order-history__tab-content--shown js-tab-container">
            {%- if customer.orders.size != 0 -%}
                <div class="order-history__filters">
                    <span class="text--bold">
                        <span class="order-history__tab-items-count js-order-count">
                            {{- customer.orders_count -}}
                        </span>

                        {{- 'customer.orders.all_orders' | t -}}

                         <span class="js-filter-found text--normal">
                             {{- 'customer.orders.places_in' | t -}}
                         </span>

                        <span class="js-filter-empty text--normal text--hidden">
                            {{- 'customer.orders.places_in_empty' | t -}}
                        </span>
                    </span>

                    <div class="order-history__tab-selectors js-filters">
                        <select name="months" id="months" class="js-order-filter">
                            <option value="3">Past 3 months</option>
                            <option value="6">Past 6 months</option>
                            <option value="12">Past 12 months</option>
                            <option value="">All time</option>
                        </select>

                        <select name="office" id="office" class="js-order-filter">
                            <option value="">All Offices</option>
                            {% for address in customer.addresses %}
                                <option value="{{ address.street }}">{{ address.street }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="order-history__list">
                    {% for order in customer.orders %}
                        {% include 'order' %}
                    {% endfor %}
                </div>
            {%- else -%}
                <div class="no-orders">
                    <p>
                        {{- 'customer.orders.none' | t -}}
                    </p>
                </div>
            {%- endif -%}
        </div>

        <div data-tab-content="{{- 'customer.orders.open_orders' | t -}}"
             class="order-history__tab-content js-tab-container">

            {% assign count = 0 %}
            {% for order in customer.orders %}
                {% if order.fulfillment_status != 'Fulfilled' %}
                    {% assign count = count | plus: 1 %}
                {% endif %}
            {% endfor %}

            {% if count != 0 %}
                <div class="order-history__filters">
                    <span class="text--bold">
                        <span class="order-history__tab-items-count js-order-count">
                            {{- customer.count -}}
                        </span>

                        {{- 'customer.orders.all_orders' | t -}}

                         <span class="text--normal">
                             {{- 'customer.orders.places_in' | t -}}
                         </span>
                    </span>

                    <div class="order-history__tab-selectors js-filters">
                        <select name="months" id="months" class="js-order-filter">
                            <option value="3">Past 3 months</option>
                            <option value="6">Past 6 months</option>
                            <option value="12">Past 12 months</option>
                            <option value="">All time</option>
                        </select>

                        <select name="office" id="office" class="js-order-filter">
                            <option value="">All Offices</option>
                            {% for address in customer.addresses %}
                                <option value="{{ address.street }}">{{ address.street }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="order-history__list">
                    {% for order in customer.orders %}
                        {% if order.fulfillment_status != 'Fulfilled' %}
                            {% include 'order' %}
                        {% endif %}
                    {% endfor %}
                </div>
            {%- else -%}
                <div class="no-orders">
                    <p>
                        {{- 'customer.orders.none' | t -}}
                    </p>
                </div>
            {%- endif -%}

        </div>
        <div data-tab-content="{{- 'customer.orders.past_orders' | t -}}"
             class="order-history__tab-content js-tab-container">
            {% assign count = 0 %}
            {% for order in customer.orders %}
                {% if order.fulfillment_status == 'Fulfilled' %}
                    {% assign count = count | plus: 1 %}
                {% endif %}
            {% endfor %}

            {% if count != 0 %}
                <div class="order-history__filters">
                    <span class="text--bold">
                        <span class="order-history__tab-items-count js-order-count">
                            {{- customer.count -}}
                        </span>

                        {{- 'customer.orders.all_orders' | t -}}

                         <span class="text--normal">
                             {{- 'customer.orders.places_in' | t -}}
                         </span>
                    </span>

                    <div class="order-history__tab-selectors js-filters">
                        <select name="months" id="months" class="js-order-filter">
                            <option value="3">Past 3 months</option>
                            <option value="6">Past 6 months</option>
                            <option value="12">Past 12 months</option>
                            <option value="">All time</option>
                        </select>

                        <select name="office" id="office" class="js-order-filter">
                            <option value="">All Offices</option>
                            {% for address in customer.addresses %}
                                <option value="{{ address.street }}">{{ address.street }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="order-history__list">
                    {% for order in customer.orders %}
                        {% if order.fulfillment_status == 'Fulfilled' %}
                            {% include 'order' %}
                        {% endif %}
                    {% endfor %}
                </div>
            {%- else -%}
                <div class="no-orders">
                    <p>
                        {{- 'customer.orders.none' | t -}}
                    </p>
                </div>
            {%- endif -%}
        </div>
        <div data-tab-content="{{- 'customer.orders.unpaid_orders' | t -}}"
             class="order-history__tab-content js-tab-container">
            {% assign count = 0 %}
            {% for order in customer.orders %}
                {% unless order.financial_status == 'Paid' %}
                    {% assign count = count | plus: 1 %}
                {% endunless %}
            {% endfor %}

            {% if count != 0 %}
                <div class="order-history__filters">
                    <span class="text--bold">
                        <span class="order-history__tab-items-count js-order-count">
                            {{- customer.count -}}
                        </span>

                        {{- 'customer.orders.all_orders' | t -}}

                         <span class="text--normal">
                             {{- 'customer.orders.places_in' | t -}}
                         </span>
                    </span>

                    <div class="order-history__tab-selectors js-filters">
                        <select name="months" id="months" class="js-order-filter">
                            <option value="3">Past 3 months</option>
                            <option value="6">Past 6 months</option>
                            <option value="12">Past 12 months</option>
                            <option value="">All time</option>
                        </select>

                        <select name="office" id="office" class="js-order-filter">
                            <option value="">All Offices</option>
                            {% for address in customer.addresses %}
                                <option value="{{ address.street }}">{{ address.street }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="order-history__list">
                    {% for order in customer.orders %}
                        {% unless order.financial_status == 'Paid' %}
                            {% include 'order' %}
                        {% endunless %}
                    {% endfor %}
                </div>
            {%- else -%}
                <div class="no-orders">
                    <p>
                        {{- 'customer.orders.none' | t -}}
                    </p>
                </div>
            {%- endif -%}
        </div>
    </div>
</div>
