<script>window.location.href = '/account?view=order-history';</script>

<section class="section-account page-width" style="opacity: 0;">
    <div class="section__head">
        <a href="/account/logout" class="section__link">
            {{- 'customer.account.logout' | t -}}
        </a>

        <h1 class="section__title">
            {{- 'customer.account.title' | t -}}
        </h1><!-- /.section__title -->

        <p class="section__greeting">{{- 'customer.account.greeting' | t: name: customer.first_name -}}</p>
    </div><!-- /.section__head -->

    <div class="section__inner">
        <div class="section__content">
            {%- paginate customer.orders by 20 -%}
                {%- if customer.orders.size != 0 -%}
                    <table class="responsive-table table-order">
                        <thead>
                        <tr>
                            <th>{{ 'customer.orders.order_number' | t }}</th>
                            <th>{{ 'customer.orders.date' | t }}</th>
                            <th>{{ 'customer.orders.payment_status' | t }}</th>
                            <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
                            <th>{{ 'customer.orders.total' | t }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in customer.orders %}
                            <tr>
                                <td data-label="{{ 'customer.orders.order_number' | t }}">
                                    <a href="{{ order.customer_url }}">{{ order.name }}</a>
                                </td>
                                <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | date: format: 'month_day_year' }}</td>
                                <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
                                <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                                <td data-label="{{ 'customer.orders.total' | t }}" style="min-width: 205px;">
                                    <div data-id="{{ order.id }}" class="identixweb_advance_reorder"></div>

                                    {{ order.total_price | money }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    {% if paginate.pages > 1 %}
                        {%- include 'pagination' -%}
                    {% endif %}
                {%- else -%}
                    <div class="no-orders">
                        <p>
                            {{- 'customer.orders.none' | t -}}
                        </p>
                    </div><!-- /.no-oders -->
                {%- endif -%}
            {%- endpaginate -%}
        </div><!-- /.section__content -->

        <div class="section__aside">
            <h2 class="section__aside-title">
                {{- 'customer.account.primary_address' | t -}}
            </h2><!-- /.section__aside-title -->

            {% for address in customer.addresses %}
                {% if address.id == customer.default_address.id %}
                    <div class="address">
                        {{ address | format_address }}

                        <a class="btn btn-new btn--large open-popup-link text-center"
                           href="#EditAddress_{{ address.id }}">{{ 'customer.account.edit_address' | t }}</a>

                        <a href="#AddressNewForm"
                           class="btn btn-new btn--large open-popup-link text-center">{{ 'customer.addresses.add_new' | t }}</a>

                        <a href="/account/addresses">{{- 'customer.account.view_addresses' | t -}}</a>

                        <div id="AddressNewForm" class="form-vertical Form mfp-hide">
                            {% form 'customer_address', customer.new_address %}
                                <h2>{{ 'customer.addresses.add_new' | t }}</h2>

                                <div class="grid">
                                    <div class="grid__item">
                                        <div class="Form__Item">
                                            <input type="text" class="Form__Input" id="AddressFirstNameNew"
                                                   name="address[first_name]" value="{{ form.first_name }}"
                                                   placeholder="{{ 'customer.addresses.first_name' | t }}">

                                            <label class="Form__FloatingLabel"
                                                   for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
                                        </div><!-- /.Form__Item -->
                                    </div>

                                    <div class="grid__item">
                                        <div class="Form__Item">
                                            <input type="text" class="Form__Input" id="AddressLastNameNew"
                                                   name="address[last_name]" value="{{ form.last_name }}"
                                                   placeholder="{{ 'customer.addresses.last_name' | t }}">

                                            <label class="Form__FloatingLabel"
                                                   for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
                                        </div><!-- /.Form__Item -->
                                    </div>
                                </div>

                                <div class="grid">
                                    <div class="grid__item">
                                        <div class="Form__Item">
                                            <input type="text" class="Form__Input" id="AddressCompanyNew"
                                                   name="address[company]" value="{{ form.company }}"
                                                   placeholder="{{ 'customer.addresses.company' | t }}">

                                            <label class="Form__FloatingLabel"
                                                   for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
                                        </div><!-- /.Form__Item -->

                                        <div class="Form__Item">
                                            <input type="text" class="Form__Input" id="AddressAddress1New"
                                                   name="address[address1]" value="{{ form.address1 }}"
                                                   placeholder="{{ 'customer.addresses.address1' | t }}">

                                            <label class="Form__FloatingLabel"
                                                   for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
                                        </div><!-- /.Form__item -->

                                        <div class="Form__Item">
                                            <input type="text" class="Form__Input" id="AddressAddress2New"
                                                   name="address[address2]" value="{{ form.address2 }}"
                                                   placeholder="{{ 'customer.addresses.address2' | t }}">

                                            <label class="Form__FloatingLabel"
                                                   for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
                                        </div><!-- /.Form__Item -->
                                    </div>
                                </div>

                                <div class="Form__Item">
                                    <input type="text" class="Form__Input" id="AddressCityNew" name="address[city]"
                                           value="{{ form.city }}" placeholder="{{ 'customer.addresses.city' | t }}">

                                    <label class="Form__FloatingLabel"
                                           for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
                                </div><!-- /.Form__Item -->

                                <div class="grid">
                                    <div class="grid__item medium-up--one-half">
                                        <label class="hide"
                                               for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>

                                        <select id="AddressCountryNew" name="address[country]"
                                                data-default="{{ form.country }}">{{ country_option_tags }}</select>
                                    </div>

                                    <div class="grid__item medium-up--one-half">
                                        <div class="Form__Item">
                                            <input type="text" class="Form__Input" id="AddressZipNew"
                                                   name="address[zip]" value="{{ form.zip }}"
                                                   autocapitalize="characters"
                                                   placeholder="{{ 'customer.addresses.zip' | t }}">

                                            <label class="Form__FloatingLabel"
                                                   for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
                                        </div><!-- /.Form__Item -->
                                    </div>
                                </div>

                                <div id="AddressProvinceContainerNew" style="display:none">
                                    <label class="hide"
                                           for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
                                    <select id="AddressProvinceNew" name="address[province]"
                                            data-default="{{ form.province }}"></select>
                                </div>

                                <div class="Form__Item">
                                    <input class="Form__Input" type="tel" id="AddressPhoneNew" name="address[phone]"
                                           value="{{ form.phone }}" placeholder="{{ 'customer.addresses.phone' | t }}">

                                    <label class="Form__FloatingLabel"
                                           for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
                                </div><!-- /.Form__Item -->

                                <div class="text-center">
                                    {{ form.set_as_default_checkbox }}

                                    <label for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}</label>

                                    <div><input type="submit" class="btn" value="{{ 'customer.addresses.add' | t }}">
                                    </div>
                                    <div>
                                        <button type="button"
                                                class="text-link close-popup">{{ 'customer.addresses.cancel' | t }}</button>
                                    </div>
                                </div>
                            {% endform %}
                        </div>
                    </div>

                    <div id="EditAddress_{{ address.id }}" class="form-vertical Form mfp-hide">
                        {% form 'customer_address', address %}
                            <h4 class="h2">{{ 'customer.addresses.edit_address' | t }}</h4>

                            <div class="grid">
                                <div class="grid__item">
                                    <div class="Form__Item">
                                        <input type="text" class="Form__Input" id="AddressFirstName_{{ form.id }}"
                                               name="address[first_name]" value="{{ form.first_name }}"
                                               placeholder="{{ 'customer.addresses.first_name' | t }}">

                                        <label class="Form__FloatingLabel"
                                               for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
                                    </div><!-- /.Form__Item -->
                                </div>

                                <div class="grid__item">
                                    <div class="Form__Item">
                                        <input type="text" class="Form__Input" id="AddressLastName_{{ form.id }}"
                                               name="address[last_name]" value="{{ form.last_name }}"
                                               placeholder="{{ 'customer.addresses.last_name' | t }}">

                                        <label class="Form__FloatingLabel"
                                               for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>
                                    </div><!-- /.Form__Item -->
                                </div>
                            </div>

                            <div class="grid">
                                <div class="grid__item">
                                    <div class="Form__Item">
                                        <input type="text" class="Form__Input" id="AddressCompany_{{ form.id }}"
                                               name="address[company]" value="{{ form.company }}"
                                               placeholder="{{ 'customer.addresses.company' | t }}">

                                        <label class="Form__FloatingLabel"
                                               for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>
                                    </div><!-- /.Form__Item -->

                                    <div class="Form__Item">
                                        <input type="text" class="Form__Input" id="AddressAddress1_{{ form.id }}"
                                               name="address[address1]" value="{{ form.address1 }}"
                                               placeholder="{{ 'customer.addresses.address1' | t }}">

                                        <label class="Form__FloatingLabel"
                                               for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>
                                    </div><!-- /.Form__Item -->

                                    <div class="Form__Item">
                                        <input type="text" class="Form__Input" id="AddressAddress2_{{ form.id }}"
                                               name="address[address2]" value="{{ form.address2 }}"
                                               placeholder="{{ 'customer.addresses.address2' | t }}">

                                        <label class="Form__FloatingLabel"
                                               for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>
                                    </div><!-- /.Form__Item -->
                                </div>
                            </div>

                            <div class="Form__Item">
                                <input type="text" class="Form__Input" id="AddressCity_{{ form.id }}"
                                       name="address[city]" value="{{ form.city }}"
                                       placeholder="{{ 'customer.addresses.city' | t }}">

                                <label class="Form__FloatingLabel"
                                       for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
                            </div><!-- /.Form__Item -->

                            <div class="grid">
                                <div class="grid__item medium-up--one-half">
                                    <label class="hide"
                                           for="AddressCountry_{{ form.id }}">{{ 'customer.addresses.country' | t }}</label>

                                    <select id="AddressCountry_{{ form.id }}" name="address[country]"
                                            data-default="{{ form.country }}">{{ country_option_tags }}</select>
                                </div>

                                <div class="grid__item medium-up--one-half">
                                    <div class="Form__Item">
                                        <input type="text" class="Form__Input" id="AddressZip_{{ form.id }}"
                                               name="address[zip]" value="{{ form.zip }}" autocapitalize="characters"
                                               placeholder="{{ 'customer.addresses.zip' | t }}">

                                        <label class="Form__FloatingLabel"
                                               for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
                                    </div><!-- /.Form__Item -->
                                </div>
                            </div>

                            <div id="AddressProvinceContainer_{{ form.id }}" style="display:none">
                                <label class="hide"
                                       for="AddressProvince_{{ form.id }}">{{ 'customer.addresses.province' | t }}</label>
                                <select id="AddressProvince_{{ form.id }}" name="address[province]"
                                        data-default="{{ form.province }}"></select>
                            </div>

                            <div class="Form__Item">
                                <input class="Form__Input" type="tel" id="AddressPhone_{{ form.id }}"
                                       name="address[phone]" value="{{ form.phone }}"
                                       placeholder="{{ 'customer.addresses.phone' | t }}">

                                <label class="Form__FloatingLabel"
                                       for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
                            </div><!-- /.Form__Item -->


                            <div class="text-center">

                                {% unless address.id == customer.default_address.id %}
                                    {{ form.set_as_default_checkbox }}

                                    <label for="address_default_address_{{ form.id }}">{{ 'customer.addresses.set_default' | t }}</label>
                                {% endunless %}

                                <div><input type="submit" class="btn" value="{{ 'customer.addresses.update' | t }}">
                                </div>
                                <div>
                                    <button type="button"
                                            class="text-link close-popup">{{ 'customer.addresses.cancel' | t }}</button>
                                </div>
                            </div>

                        {% endform %}
                    </div>
                {% endif %}
            {% else %}
                <a href="#AddressNewForm"
                   class="btn btn-new btn--large open-popup-link text-center">{{ 'customer.addresses.add_new' | t }}</a>

                <a href="/account/addresses">{{- 'customer.account.view_addresses' | t -}}</a>

                <div id="AddressNewForm" class="form-vertical mfp-hide">
                    {% form 'customer_address', customer.new_address %}
                        <h2>{{ 'customer.addresses.add_new' | t }}</h2>

                        <div class="grid">
                            <div class="grid__item">
                                <label for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
                                <input type="text" class="Form__Input" id="AddressFirstNameNew" name="address[first_name]" value="{{ form.first_name }}">
                            </div>

                            <div class="grid__item">
                                <label for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
                                <input type="text" class="Form__Input" id="AddressLastNameNew" name="address[last_name]" value="{{ form.last_name }}">
                            </div>
                        </div>

                        <div class="grid">
                            <div class="grid__item">
                                <label for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
                                <input type="text" class="Form__Input" id="AddressCompanyNew" name="address[company]" value="{{ form.company }}">

                                <label for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
                                <input type="text" class="Form__Input" id="AddressAddress1New" name="address[address1]" value="{{ form.address1 }}">

                                <label for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
                                <input type="text" class="Form__Input" id="AddressAddress2New" name="address[address2]" value="{{ form.address2 }}">
                            </div>
                        </div>

                        <label for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
                        <input type="text" class="Form__Input" id="AddressCityNew" name="address[city]" value="{{ form.city }}">

                        <div class="grid">
                            <div class="grid__item medium-up--one-half">
                                <label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
                                <select id="AddressCountryNew" name="address[country]"
                                        data-default="{{ form.country }}">{{ country_option_tags }}</select>
                            </div>

                            <div class="grid__item medium-up--one-half">
                                <label for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
                                <input type="text" class="Form__Input" id="AddressZipNew" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters">
                            </div>
                        </div>

                        <div id="AddressProvinceContainerNew" style="display:none">
                            <label for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
                            <select id="AddressProvinceNew" name="address[province]" data-default="{{ form.province }}"></select>
                        </div>

                        <label for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
                        <input type="tel" id="AddressPhoneNew" name="address[phone]" value="{{ form.phone }}">
                    {% endform %}
                </div>
            {% endfor %}
        </div><!-- /.section__aside -->
    </div><!-- /.section__inner -->
</section><!-- /.section-account -->