<div class="section-account">
  <div class="Container">
    <div class="PageContent PageContent--fitScreen PageContent--extraNarrow">
      <div class="form-vertical Form">
        {% form 'create_customer' %}

          <h1 class="text-center Form__Title Heading u-h1">{{ 'customer.register.title' | t }}</h1>

          <p class="Form__Legend">{{ 'customer.register.description_html' | t }}</p>

          {{ form.errors | default_errors }}

          <div class="Form__Item">
            <input class="Form__Input" type="text" placeholder="{{ 'customer.register.first_name' | t }}" name="customer[first_name]" id="FirstName" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autofocus>

            <label class="Form__FloatingLabel" for="FirstName">{{ 'customer.register.first_name' | t }}</label>
          </div><!-- /.Form__Item -->

          <div class="Form__Item">
            <input  type="text" placeholder="{{ 'customer.register.last_name' | t }}" name="customer[last_name]" id="LastName" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} class="Form__Input">

            <label class="Form__FloatingLabel" for="LastName">{{ 'customer.register.last_name' | t }}</label>
          </div><!-- /.Form__Item -->

          <div class="Form__Item">
            <input type="email" placeholder="{{ 'customer.register.email' | t }}" name="customer[email]" id="Email" class="Form__Input {% if form.errors contains 'email' %} input--error{% endif %}" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">

            <label class="Form__FloatingLabel" for="Email">{{ 'customer.register.email' | t }}</label>
          </div><!-- /.Form__Item -->

          <div class="Form__Item">
            <input type="password" placeholder="{{ 'customer.register.password' | t }}" name="customer[password]" id="CreatePassword" class="Form__Input {% if form.errors contains 'password' %} input--error{% endif %}">

            <label class="Form__FloatingLabel" for="CreatePassword">{{ 'customer.register.password' | t }}</label>
          </div><!-- /.Form__Item -->

          <p class="text-center">
            <input type="submit" value="{{ 'customer.register.submit' | t }}" class="Form__Submit Button Button--primary Button--full">
          </p>
        {% endform %}
      </div>
    </div><!-- /.PageContent PageContent-/-fitScreen PageContent-/-extraNarrow -->
  </div><!-- /.Container -->
</div><!-- /.section-account -->

