<div class="small-width medium-up--padding-vertical-xlg">
  <div class="upper-text-content small--padding-top-md medium-up--padding-top-lg">
    <h2 class="h1 margin-bottom-sm margin-top-0 bold">{{ section.settings.title_1 }}</h2>
    <div class="text-holder">{{ section.settings.text_1 }}</div>
  </div>
  
  {% if section.settings.top_background %}
<style>
  #shopify-section-{{ section.id }} {
    background: url({{ section.settings.top_background |img_url: '1600x1600' }});
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center -25%;
  }
  
  @media(max-width: 1024px){
    #shopify-section-{{ section.id }} {
    background: url({{ section.settings.top_background |img_url: '1600x1600' }});
    background-size: 270%;
    background-repeat: no-repeat;
   //background-position: center 60px;
  }
  }
  </style>
  {% endif %}
  
  
  <div class="margin-top-250 images-holder small--padding-horizontal-0 small--margin-top-lg medium-up--padding-top-xlg2 medium-up--margin-top-xlg3 small--margin-bottom-md medium-up--margin-bottom-xlg">
  <div class="grid grid--xlg-gutter small--grid--no-gutters">
    {% if section.settings.image_1 %}
    <div class="grid__item small--one-quarter medium-up--one-quarter padding-right-sm">
      <img src="{{ section.settings.image_1 |img_url: '400x400' }}"/>
    </div>
    {% endif %}
     {% if section.settings.image_2 %}
    <div class="grid__item small--one-quarter medium-up--one-quarter padding-right-sm">
      <img src="{{ section.settings.image_2 |img_url: '400x400' }}"/>
    </div>
    {% endif %}
     {% if section.settings.image_3 %}
    <div class="grid__item small--one-quarter medium-up--one-quarter padding-right-sm">
      <img src="{{ section.settings.image_3 |img_url: '400x400' }}"/>
    </div>
    {% endif %}
     {% if section.settings.image_4 %}
    <div class="grid__item small--one-quarter medium-up--one-quarter padding-right-sm">
      <img src="{{ section.settings.image_4 |img_url: '400x400' }}"/>
    </div>
    {% endif %}
  </div>
  </div>
    <div class="lower-text-content medium-up--padding-bottom-xlg small--padding-bottom-md">
    <h2 class="h1 margin-bottom-sm margin-top-0 bold">{{ section.settings.title_2 }}</h2>
      <div class="text-holder">{{ section.settings.text_2 }}</div>
  </div>
</div>
{% schema %}
  {
    "name": "We get it",
	"class": "small--padding-vertical-0 margin-auto big-width",
    "settings": [
      {
        "type": "text",
        "id": "title_1",
        "label": "Top Heading",
        "default": "Image with text"
      },
      {
        "type": "richtext",
        "id": "text_1",
        "label": "Top Text",
        "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
      {
        "type": "image_picker",
        "id": "top_background",
        "label": "Top text background"
      },
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "Image 1"
      },
      {
        "type": "image_picker",
        "id": "image_2",
        "label": "Image 2"
      },
      {
        "type": "image_picker",
        "id": "image_3",
        "label": "Image 3"
      },
      {
        "type": "image_picker",
        "id": "image_4",
        "label": "Image 4"
      },
      {
        "type": "text",
        "id": "title_2",
        "label": "Top Heading",
        "default": "Image with text"
      },
      {
        "type": "richtext",
        "id": "text_2",
        "label": "Top Text",
        "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
