<div class="page-width feature-row">
  {% capture image_layout %}
    <div class="feature-row__item  pull-one-half">
      {% if section.settings.image != blank %}
        {{ section.settings.image | img_url: '600x600' | img_tag: section.settings.image.alt, 'feature-row__image' }}
      {% else %}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}
    </div>
  {% endcapture %}

  <div class="feature-row">
    {% if section.settings.layout == 'left' %}
      {{ image_layout }}
    {% endif %}

    <div class="push-one-half feature-row__item feature-row__text--left">
      {% if section.settings.title != blank %}
        <h1 class="h1 large bold">{{ section.settings.title  |replace:'/red/', '<span class="color-red">'|replace: '/endred/', '</span>'}}</h1>
      {% endif %}
      {% if section.settings.text != blank %}
        <div class="rte-setting featured-row__subtext">{{ section.settings.text }}</div>
      {% endif %}
      {% if section.settings.button_label != blank and section.settings.button_link != blank %}
        <a href="{{ section.settings.button_link }}" class="btn btn--large small-shadow">
          <span>{{ section.settings.button_label }}</span> {% include 'icon-arrow-right' %}
        </a>
      {% endif %}
      {% if section.settings.additional_link != blank and section.settings.additional_link_label != blank %}
        <a href="{{ section.settings.additional_link }}" class="color-blue"> 
          <span>{{ section.settings.additional_link_label }}</span> {% include 'icon-arrow-right' %}
        </a>
      {% endif %}
    </div>

    {% if section.settings.layout == 'right' %}
      {{ image_layout }}
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Image with text",
    "class": "index-section feature-row",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Image on left"
          },
          {
            "value": "right",
            "label": "Image on right"
          }
        ]
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "text",
        "id": "additional_link_label",
        "label": "Additional link label"
      },
      {
        "type": "url",
        "id": "additional_link",
        "label": "Additional link URL"
      }
    ]
  }
{% endschema %}
