<div class="page-width">
  {% include 'glob10' %}
  <div class="quetions-wrapper medium-up--two-thirds margin-auto">
    <img class="medium-up--hide kid-5" src=" {{ 'reviewer5.png' | asset_img_url: '400x' }}">
    {% include 'heading-snippet' , textl: "text-left margin-bottom-lg", settings: 'bold', headingtype: 'h1' %}
    {% for block in section.blocks %}
    {% assign odd = forloop.index |modulo: 2 %}
    <div class="margin-bottom-md medium-up--one-whole question-holder{% if odd == 0 %} float-right{% endif %}">
     <h3 class="bold margin-bottom-sm">{{ block.settings.question }}</h3>
      <div class="grid"><div class="grid__item medium-up--one-whole"> <p>{{ block.settings.answer |remove: '<p>' |remove: '</p>'}}</p></div>
      <div clas="grid__item medium-up--one-third">
      <div class="text-center">
        {% if block.settings.image1 %}
<img style="width: {{ block.settings.image1size | times: 10}}px" src="{{ block.settings.image1 |img_url:'x120' }}"/>
        {% endif %}
        {% if block.settings.image2 %}
<img style="width: {{ block.settings.image1size | times: 10}}px" src="{{ block.settings.image2 |img_url:'x120' }}"/>
        {% endif %}
        {% if block.settings.image3 %}
<img  style="width: {{ block.settings.image1size | times: 10}}px" src="{{ block.settings.image3 |img_url:'x120' }}"/>
        {% endif %}
      </div>
        </div>
    </div>
      {% if block.settings.contact_form %}
      <div class="grid">
        <div class="grid__item medium-up--one-whole contact-wonderful">
{% include 'quick-contact' %}
        </div>
      </div>
      {% endif %} 
      
    </div>
    <hr class="hr--invisible"> 
    {% endfor %}
  </div>
  {% include 'glob9' %}
</div>

{% schema %}
  {
    "name": "FAQ section",
	"class": "index-section faq-section",
    "settings": [
	  {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Calculate your yearly savings"
      },
	  {
        "type": "text",
        "id": "text",
        "label": "Text"
      }
	],
    "blocks": [
      {
        "type": "question",
        "name": "Question",
        "settings": [
		  {
			"type": "checkbox", 
			"id": "contact_form", 
			"label": "Contact Form", 
			"default": false
		  },
          {
            "type": "text",
            "id": "question",
            "label": "Question",
            "default": "Have a question?"
          },
          {
            "type": "richtext",
            "id": "answer",
            "label": "Answer",
            "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ante id arcu tincidunt tristique. Pellentesque quis urna ex. Quisque imperdiet congue sagittis. </p>"
          },
          {
            "type": "image_picker",
            "id": "image1",
            "label": "Image"
          },
		  {
	    	"type":   "range",
    		"id":     "image1size",
	    	"min":       4,
    		"max":       15,
   			"step":      1,
    		"unit":      "st",
    		"label":     "Image 1 Size",
    		"default":   7
	      },
          {
            "type": "image_picker",
            "id": "image2",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "image3",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "FAQ Section",
        "category": "Text"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
