{% comment %}
<div class="page-width">
 <div class="grid">
   {% assign blogfeatured = "" %}
  
   
   {% for article in blog.articles %} 
     {% if forloop.first %}
  	{% include 'main-blog' %}
     {% endif %}
   
   
   {% if forloop.index == 2 or forloop.index == 3 %}
    <div class="grid__item medium-up--one-half  text-center margin-bottom-md">
      <div class="featured-image">
        <img class="width-100" src="{{ article.image.src | img_url: 'large' }}">
      </div>
      <div class="featured-title grid">
        <div class="two-thirds medium-up--push-one-sixth">
        {% for tag in article.tags %}
        <a class="bold uppercase" href="/tagged/{{tag}}">{{ tag }} </a>{% unless forloop.last == true %} | {% endunless %}
        {% endfor %}
           <a href="{{ article.url }}"> <h2 class="uppercase bold"> {{ article.title }} </h2></a>
        </div>
       
      </div>
      </div>
   
   {% endif %}
     {% endfor %}
  </div>
  </div>
<style>
  .featured-blogs-2 { 
    background: #fafafa;
  }
</style>
{% endcomment %}
{% schema %}
  {
    "name": "Featured blogs",
	"class": "featured-blogs-2",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
