<div class="small-width rows-with-images">
  {% include 'heading-snippet', settings: "bold" %}
  
  {% for block in section.blocks %}
    {% capture image_layout %}
    <div class="feature-row__item {% if block.settings.class == "map" %} map {% endif %}" >
      {% if block.settings.image != blank %}
        {{ block.settings.image | img_url: '600x600' | img_tag: block.settings.image.alt, 'feature-row__image lazyload' }}
      {% else %}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}
    </div>
  {% endcapture %}

  <div class="feature-row {{ block.settings.class }}">
    {% if block.settings.class == "kid" %} 
    {% include 'glob8' %}
    {% endif %}
    {% if block.settings.layout == 'left' %}
      {{ image_layout }}
    {% endif %}

    <div class="feature-row__item feature-row__text feature-row__text--{{ block.settings.layout }} {% if block.settings.class == 'map' %} map-content {% endif %}">
      {% if block.type == 'content' %}
      <div class="content">
      {% if block.settings.title1 != blank %}
        <h2 class="h2 large  bold">{{ block.settings.title1 | escape }}</h2>
      {% endif %}
      {% if block.settings.text1 != blank %}
        <div class="rte-setting featured-row__subtext">{{ block.settings.text1 | replace: "<p>","<h5>" | replace: "</p>", "</h5>" }}</div>
      {% endif %}
       
      {% if block.settings.title2 != blank %}
        <h2 class="h2 large  bold">{{ block.settings.title2 | escape }}</h2>
      {% endif %}
      {% if block.settings.text2 != blank %}
        <div class="rte-setting featured-row__subtext">{{ block.settings.text2 | replace: "<p>","<h5>" | replace: "</p>", "</h5>" }}</div>
      {% endif %}
       
      {% if block.settings.title3 != blank %}
        <h2 class="h2 large bold">{{ block.settings.title3 | escape }}</h2>
      {% endif %}
      {% if block.settings.text3 != blank %}
        <div class="rte-setting featured-row__subtext">{{ block.settings.text3 | replace: "<p>","<h5>" | replace: "</p>", "</h5>" }}</div>
      {% endif %}
       
      {% if block.settings.title4 != blank %}
        <h2 class="h3 large bold">{{ block.settings.title4 | escape }}</h2>
      {% endif %}
      {% if block.settings.text4 != blank %}
        <div class="rte-setting featured-row__subtext">{{ block.settings.text4  | replace: "<p>","<h5>" | replace: "</p>", "</h5>"}}</div>
      {% endif %}
      
      {% if block.settings.button_label != blank and block.settings.button_link != blank %}
        <a href="{{ block.settings.button_link }}" class="btn btn--large small-shadow">
          <span>{{ block.settings.button_label }}</span> {% include 'icon-arrow-right' %}
        </a>
      {% endif %}
      {% if block.settings.additional_link != blank and block.settings.additional_link_label != blank %}
        <a href="{{ block.settings.additional_link }}" class="color-blue"> 
          <span>{{ block.settings.additional_link_label }}</span> {% include 'icon-arrow-right' %}
        </a>
      {% endif %}
      </div>
      {% else %}
      <div class="list">
      {% if block.settings.title != blank %}
        <h2 class="h2 bold">{{ block.settings.title | escape }}</h2>
      {% endif %}
      
      {% if block.settings.text != blank %}
        <div class="rte-setting featured-row__subtext">{{ block.settings.text }}</div>
      {% endif %}
      
      <ul class="list-red margin-left-md">
        
        {% if block.settings.list_label1 != '' %}
  
        <div class="checkmark margin-bottom-md">
          <img class="margin-bottom--md2 max-100-w" src="{{ 'checkmark.png' | asset_img_url: '105x' }}"> 
          <span class="h4 checkbox-text margin-left-sm">{{ block.settings.list_label1 }}</span>
          </div>
        {% endif %}
                {% if block.settings.list_label2 != '' %}
  
        <div class="checkmark margin-bottom-md">
          <img class="margin-bottom--md2 max-100-w " max-100-w src="{{ 'checkmark.png' | asset_img_url: '105x' }}"> 
          <span class="h4 checkbox-text margin-left-sm">{{ block.settings.list_label2 }}</span>
          </div>
        {% endif %}
                 {% if block.settings.list_label3 != '' %}
  
        <div class="checkmark margin-bottom-md">
          <img class="margin-bottom--md2 max-100-w" src="{{ 'checkmark.png' | asset_img_url: '105x' }}"> 
          <span class="h4 checkbox-text margin-left-sm">{{ block.settings.list_label3 }}</span>
          </div>
        {% endif %}
                {% if block.settings.list_label4 != '' %}
  
        <div class="checkmark margin-bottom-md">
          <img class="margin-bottom--md2 max-100-w" src="{{ 'checkmark.png' | asset_img_url: '105x' }}"> 
          <span class="h4 checkbox-text margin-left-sm">{{ block.settings.list_label4 }}</span>
          </div>
        {% endif %}
        
              {% if block.settings.list_label5 != '' %}
  
       
        <div class="checkmark margin-bottom-md">
          <img class="margin-bottom--md2 max-100-w" src="{{ 'checkmark.png' | asset_img_url: '105x' }}">
          <span class="h4 checkbox-text margin-left-sm custom-checkmark">{{ block.settings.list_label5 }}</span>
          </div>
        {% endif %}
      </ul>
      </div>
      {% endif %}
      
    </div>

    {% if block.settings.layout == 'right' %}
      {{ image_layout }}
    {% endif %}
  </div>
  {% endfor %}
  
</div>
{% include 'blob3' %}
{% include 'glob7' %}
{% schema %}
  {
    "name": "Fatured image blocks",
	"class": "index-section featured-images",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      }
	],
 "blocks": [
	{
        "type": "list",
        "name": "List",
        "settings": [

      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Image on left"
          },
          {
            "value": "right",
            "label": "Image on right"
          }
        ]
      },
	  {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text"
      },
	  {
        "type": "text",
        "id": "class",
        "label": "Class(dev)"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
      {
        "type": "text",
        "id": "list_label1",
        "label": "List label"
      },
      {
        "type": "text",
        "id": "list_label2",
        "label": "List label"
      },
      {
        "type": "text",
        "id": "list_label3",
        "label": "Button label"
      },
      {
        "type": "text",
        "id": "list_label4",
        "label": "List label"
      },
      {
        "type": "text",
        "id": "list_label5",
        "label": "List label"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "text",
        "id": "additional_link_label",
        "label": "Additional link label"
      },
      {
        "type": "url",
        "id": "additional_link",
        "label": "Additional link URL"
      }
		]
	},
{
        "type": "content",
        "name": "Content",
        "settings": [

      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Image on left"
          },
          {
            "value": "right",
            "label": "Image on right"
          }
        ]
      },
	 {
        "type": "text",
        "id": "class",
        "label": "Class(dev)"
      },
      {
        "type": "text",
        "id": "title1",
        "label": "Heading",
        "default": "Title"
      },
      {
        "type": "richtext",
        "id": "text1",
        "label": "Text",
        "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
      {
        "type": "text",
        "id": "title2",
        "label": "Heading",
        "default": "Title"
      },
      {
        "type": "richtext",
        "id": "text2",
        "label": "Text",
        "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
      {
        "type": "text",
        "id": "title3",
        "label": "Heading",
        "default": "Title"
      },
      {
        "type": "richtext",
        "id": "text3",
        "label": "Text",
        "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
      {
        "type": "text",
        "id": "title4",
        "label": "Heading",
        "default": "Title"
      },
      {
        "type": "richtext",
        "id": "text4",
        "label": "Text",
        "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "text",
        "id": "additional_link_label",
        "label": "Additional link label"
      },
      {
        "type": "url",
        "id": "additional_link",
        "label": "Additional link URL"
      }
		]
	}
],
    "presets": [
      {
        "name": "Image blocks",
        "category": "Text"
	  }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
