<div class="small-width {{ section.settings.section_height_desktop }} {{ section.settings.section_height_mobile }}">
  <div class="grid grid--no-gutters grid--table small--break-table">
    {% for block in section.blocks %}
    	<div class="grid__item item-width small--one-whole {% if block.settings.desktop_only %} small--hide {% elsif block.settings.mobile_only %}custom-view medium-up--hide {% endif %} {% if block.type == 'image' %}text-center{% endif %}">
          {% if block.type == 'image' %}
          	<img  class="lazy" data-src="
                             {% if block.settings.img != blank %}
                             	{{ block.settings.img | img_url: '800x' }}
                             {% else %}
                             	{{ block.settings.img_svg }}
                             {% endif %}
                             ">
           {% if block.settings.text_1_svg != blank %}
                    <div class="display-block">
                      {{ block.settings.text_1_svg }}
                    </div>
                    {% endif %}
          {% else %}
          
            {% if block.settings.main_heading %}
                <h1 {% if block.settings.font_size_orig == false %}style="font-size: {{ block.settings.font_size }}px;" {% endif %} class="medium-up--{{ block.settings.text_alignment }} small--text-center bold">{{ block.settings.heading_text }}</h1>
            {% else %}
                <h2 {% if block.settings.font_size_orig == false %}style="font-size: {{ block.settings.font_size }}px;" {% endif %} class="h1 bold small--text-center medium-up-{{- block.settings.text_alignment -}}">{{ block.settings.heading_text }}</h2>
            {% endif %}

          {% endif %}
    	</div>
    {% endfor %}
  </div>
</div>

<style>
  
    #shopify-section-{{ section.id }} {
    background: {{ section.settings.bg_color }};
  }
  
  @media only screen and (min-width: 749px) {
    #shopify-section-{{ section.id }} .item-width:first-child {
      width: {{ section.settings.width }}%; 
    }
    
    #shopify-section-{{ section.id }} .item-width:last-child {
      width: calc(100% - {{ section.settings.width }}%); 
    }
  }
  
  #shopify-section-{{ section.id }} img {
	max-height: {{ section.settings.max_img_height }}px;
  }
  
  @media only screen and (max-width: 749px) {
    #shopify-section-1560268140829 svg,  #shopify-section-1560268140829 img {
    max-height: 300px!important;
}
    #shopify-section-{{ section.id }} img {
      max-height: {{ section.settings.max_img_height_mobile }}px;
    }
  }
</style>

{% schema %}
{
  "name": "Img with Text Ver2",
  "class": "home_img_text_ver2 index-section no-margin",
  "settings": [
    {
      "type": "select",
      "id": "section_height_desktop",
      "options": [
        {
          "value": "medium-up--padding-vertical-sm",
          "label": "10px"
        },
        {
          "value": "medium-up--padding-vertical-md",
          "label": "20px"
        },
        {
          "value": "medium-up--padding-vertical-lg",
          "label": "30px"
        },
        {
          "value": "medium-up--padding-vertical-xlg",
          "label": "40px"
        }
      ],
      "label": "Section Padding Desktop"
    },
    {
      "type": "select",
      "id": "section_height_mobile",
      "options": [
        {
          "value": "small--padding-vertical-sm",
          "label": "10px"
        },
        {
          "value": "small--padding-vertical-md",
          "label": "20px"
        },
        {
          "value": "small--padding-vertical-lg",
          "label": "30px"
        },
        {
          "value": "small--padding-vertical-xlg",
          "label": "40px"
        }
      ],
      "label": "Section Padding Mobile"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
          "type": "range",
          "id": "max_img_height",
          "min": 0,
          "max": 500,
          "step": 10,
          "unit": "px",
          "label": "Max Img Height",
          "default": 500
    },
    {
          "type": "range",
          "id": "max_img_height_mobile",
          "min": 0,
          "max": 500,
          "step": 10,
          "unit": "px",
          "label": "Max Img Height Mobile",
          "default": 200
    },
    {
          "type": "range",
          "id": "width",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "%",
          "label": "Left Column Width",
          "default": 50
    }
  ],
  "blocks": [
    {
      "name": "Heading",
      "type": "heading",
      "settings": [
        {
          "type": "checkbox",
          "id": "main_heading",
          "label": "Make Heading h1",
          "default": false,
          "info": "Enable this only on one section"
        },
        {
          "type": "text",
          "id": "heading_text",
          "label": "Heading Text"
        },
        {
          "type": "checkbox",
          "id": "inline",
          "label": "Make Heading Inline",
          "default": false,
          "info": "Puts the heading next to the images"
        },
        {
          "type": "range",
          "id": "font_size",
          "min": 14,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Font Size",
          "default": 14
        },
        {
          "type": "checkbox",
          "id": "font_size_orig",
          "label": "Keep Original Font Size",
          "default": true
        },
        {
          "type": "select",
          "id": "text_alignment",
          "options": [
            {
              "value": "text-left",
              "label": "Left"
            },
            {
              "value": "text-center",
              "label": "Center"
            },
            {
              "value": "text-right",
              "label": "Right"
            }
          ],
          "label": "Text Alignment"
        }
      ]
    },
    {
      "name": "Image",
      "type": "image",
      "settings": [
		{
          "type": "checkbox",
          "id": "desktop_only",
          "label": "Desktop Only?",
          "default": false
        },
		{
          "type": "checkbox",
          "id": "mobile_only",
          "label": "Mobile Only?",
          "default": false
        },
        {
          "type": "image_picker",
          "id": "img",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "img_svg",
          "label": "SVG Img"
        },
		{
          "type": "textarea",
          "id": "text_svg",
          "label": "SVG Text"
        },
        {
          "type": "range",
          "id": "margin_top",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "px",
          "label": "Margin Top",
          "default": 0
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home Page Section Ver2",
      "category": "Text"
    }
  ]
}
{% endschema %}