<div class="small-width text-center">
    {% if section.settings.show_cta %} 
  {% include 'heading-snippet', settings: 'section-title small-text-center bold color-white' %}
    
    {% else %}
{% include 'heading-snippet', settings: 'section-title text-center bold color-white' %}
    {% endif %}
  <div class="grid grid--no-gutters text-center ">
    {% for block in section.blocks %}
    <div class="grid__item medium-up--one-third">
      <div class="content-holder medium-up--one-half margin-auto">
      {% if block.settings.image %}
      <img src="{{ block.settings.image |img_url: '300x'}}"/>
      {% endif %}
      <h2 class="bold">{{ block.settings.title }}</h2>
      
      {{ block.settings.text }}
      </div>
    </div>
    {% endfor %}
  </div>
  
      {% if section.settings.button_label != blank and section.settings.button_link != blank %}
        <a href="{{ section.settings.button_link }}" class="btn small--margin-top-md medium-up--margin-top-xlg">
          {{ section.settings.button_label }}
        </a>
      {% endif %}
</div>

{% schema %}
  {
    "name": "Sensational Taste",
	"class": "margin-bottom-xlg",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Section title"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }
	],
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Title"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
