<div class="page-width feature-row">
  
  {% case section.settings.text_width %}
  {% when 'one-half' %}
  {% assign textWidth = 'medium-up--one-half' %}
  {% assign imageWidth = 'medium-up--one-half' %}
  {% when 'one-third' %}
  {% assign textWidth = 'medium-up--one-third' %}
  {% assign imageWidth = 'medium-up--two-thirds' %}
  {% when 'two-thirds' %}
  {% assign textWidth = 'medium-up--two-thirds' %}
  {% assign imageWidth = 'medium-up--one-third' %}
    {% when 'three-fifths' %}
  {% assign textWidth = 'medium-up--three-fifths' %}
  {% assign imageWidth = 'medium-up--two-fifths' %}
  {% endcase %}
  
  {% capture image_layout %}
    <div class="feature-row__item {{ imageWidth }}">
      {% if section.settings.image != blank %}
        {{ section.settings.image | img_url: '480x480' | img_tag: section.settings.image.alt, 'feature-row__image' }}
      {% else %}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}
    </div>
  {% endcapture %}

  <div class="feature-row {% if section.settings.inverse_mobile %} small--hide {% endif %}">
    {% if section.settings.layout == 'left' %}
      {{ image_layout }}
    {% endif %}

    <div class="feature-row__item feature-row__text {% unless section.settings.inverse_mobile %}small--padding-bottom-md{% endunless %} feature-row__text--{{ section.settings.layout }} {{ textWidth }}">
      {% if section.settings.title != blank %}
        {% if section.settings.show_cta %} 
{% include 'heading-snippet', settings: 'section-title small-text-center text-left bold color-white', textl: "l", text: "no" %}
    {% else %}
{% include 'heading-snippet', settings: 'section-title text-center bold color-white', textl: "l", text: "no" %}
  
      {% endif %} 
      {% endif %}
      {% if section.settings.text != blank %}
        <div class="rte-setting featured-row__subtext no-padding">{{ section.settings.text }}</div>
      {% endif %}
      {% if section.settings.button_label != blank and section.settings.button_link != blank %}
        <a href="{{ section.settings.button_link }}" class="btn small-shadow margin-right-md">
          <span>{{ section.settings.button_label }}</span> 
        </a>
      {% endif %}
      {% if section.settings.additional_link != blank and section.settings.additional_link_label != blank %}
        <a href="{{ section.settings.additional_link }}" class="btn small-shadow">
          <span>{{ section.settings.additional_link_label }}</span>
        </a>
      {% endif %}
    </div>

    {% if section.settings.layout == 'right' %}
      {{ image_layout }}
    {% endif %}
      

  </div>
    	{% if section.settings.inverse_mobile %}
    <div class="medium-up--hide">
      {{ image_layout }}

    <div class="feature-row__item feature-row__text padding-top-md feature-row__text--{{ section.settings.layout }} {{ textWidth }}">
      {% if section.settings.title != blank %}
        <h1 class="h1 large bold">{{ section.settings.title | escape  |replace:'/red/', '<span class="color-red">'|replace: '/endred/', '</span>'}}</h1>
      {% endif %}
      {% if section.settings.text != blank %}
        <div class="rte-setting featured-row__subtext no-padding">{{ section.settings.text }}</div>
      {% endif %}
      {% if section.settings.button_label != blank and section.settings.button_link != blank %}
        <a href="{{ section.settings.button_link }}" class="btn btn--alt small-shadow">
          <span>{{ section.settings.button_label }}</span>
        </a>
      {% endif %}
      {% if section.settings.additional_link != blank and section.settings.additional_link_label != blank %}
        <a href="{{ section.settings.additional_link }}" class="btn small-shadow">
          <span>{{ section.settings.additional_link_label }}</span> 
        </a>
      {% endif %}
      
    </div>
    </div>
    {% endif %}
</div>
{% include 'blob1' %}

{% schema %}
  {
    "name": "Image with text",
    "class": "small--padding-bottom-md feature-row",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
	  {
		"type": "checkbox", 
		"id" : "inverse_mobile",
		"label": "Image first on mobile",
		"default": false
	  },
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Image on left"
          },
          {
            "value": "right",
            "label": "Image on right"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_width",
        "label": "Text width",
        "default": "one-half",
        "options": [
          {
            "value": "one-half",
            "label": "1/2"
          },
          {
            "value": "one-third",
            "label": "1/3"
          },
          {
            "value": "two-thirds",
            "label": "2/3"
          },
		  {
            "value": "three-fifths",
            "label": "3/5"
          }
        ]
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "text",
        "id": "additional_link_label",
        "label": "Additional link label"
      },
      {
        "type": "url",
        "id": "additional_link",
        "label": "Additional link URL"
      }
    ],
    "presets": [
      {
        "name": "Image with text",
        "category": "Image"
      }
    ]
  }
{% endschema %}
