<div class="hero prophy-hero" style="height: auto;">
  <div class="hero hero--{{ section.id }} hero--{{ section.settings.hero_size }}{% if section.settings.title != blank or section.settings.text != blank or section.settings.button_label != blank %} hero__overlay{% endif %}">
    <div class="hero__inner padding-0" style="background-color: {{ section.settings.background_color }};">
      <div class="page-width text-center">
        <div class="grid grid--no-gutters">
          <div class="grid__item medium-up--one-half hero__half">
            {% if section.settings.image != blank %}
              {{ section.settings.image }}
            {% else %}
              {{ 'wonderful-varnish3.png' | asset_url | img_tag }}
            {% endif %}
          </div>

          <div class="grid__item medium-up--one-half hero__half">
            <h2 class="custom-heading h1 margin-bottom-0 mega-title hide text-left{% if section.settings.text_size == 'large' %} mega-title--large{% endif %}" style="color: {{ section.settings.color }};">
              {{ section.settings.title-1 }}
              <span class="switching">
                {% assign words = section.settings.switching | split: ';' %}
                
                {% for word in words %}
                  <span class="word" style="border-color: {{ section.settings.color }};">{{ word }}</span>
                {% endfor %}
              </span>
           {{ section.settings.title-2 }}
            </h2>
               
            
            {% if template.suffix == "landing-prophy-2" %}
            <a class="btn-hide-1 btn btn-new margin-horizontal-md small--margin-top-sm medium-up--margin-vertical-sm medium-up--margin-bottom-md margin-bottom-xlg" href="samples">Request Free Samples </a> 
            {% else %}
            <a class="btn-hide-1 btn btn-new margin-horizontal-md small--margin-top-sm medium-up--margin-vertical-sm medium-up--margin-bottom-md margin-bottom-xlg" href="order-now" > Order Now </a>
            {% endif %}
            
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    let wordCount = 0;
    
    $('.switching .word').each(function () {
      $(this).hide();
      wordCount ++;
    })
    
    $('.switching .word').eq(0).addClass('active').show();
    $('.mega-title.hide').removeClass('hide');
    
    setInterval(function() {
      const el = $('.switching .word.active'),
            index = el.index();
      
      el.removeClass('active').hide();
      
      if (index < (wordCount -1)) {
        $('.switching .word').eq(index + 1).addClass('active').show();
      } else {
        $('.switching .word').eq(0).addClass('active').show();
      }
    }, {{ section.settings.switching_speed }});
  })
</script>

{% schema %}
  {
    "name": "Hero",
    "class": "no-spaces old-style old-content",
    "settings": [
      {
         "type": "color",
         "id": "background_color",
         "label": "Background color",
         "default": "#ffffff"
      },
      {
         "type": "color",
         "id": "color",
         "label": "Color",
         "default": "#000"
      },
      {
        "type": "html",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title-1",
        "label": "Heading part 1",
        "default": "Tired of "
      },
      {
        "type": "textarea",
        "id": "switching",
        "label": "Switching title",
        "default": "splattery;second;third"
      },
      {
        "type": "text",
        "id": "title-2",
        "label": "Heading part 2",
        "default": "prophy paste?"
      },
      {
        "type": "range",
        "id": "switching_speed",
        "min": 0,
        "max": 9000,
        "step": 100,
        "unit": "ms",
        "label": "Switching speed",
        "default": 1500
      },
      {
        "type": "select",
        "id": "hero_size",
        "label": "Section height",
        "default": "medium",
        "options": [
          {
            "label": "Extra Small",
            "value": "x-small"
          },
          {
            "label": "Small",
            "value": "small"
          },
          {
            "label": "Medium",
            "value": "medium"
          },
          {
            "label": "Large",
            "value": "large"
          },
          {
            "label": "Extra Large",
            "value": "x-large"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_size",
        "label": "Text size",
        "default": "medium",
        "options": [
          {
            "label": "Medium",
            "value": "medium"
          },
          {
            "label": "Large",
            "value": "large"
          }
        ]
      }
    ]
  }
{% endschema %}
