<div class="prophy-table">
  <div class="wrappercontent" style="max-width: 1100px;">
    {% if section.settings.title != blank %}
      <h1 class="text-center h1">{{ section.settings.title }}</h1>
    {% endif %}

    <div class="border-one">
      <div class="border-two">
        <table>
          <thead>
            <tr>
              <th class="text-center">Flavored Prophy Paste</th>
              <th class="text-center">wonderful</th>
              <th class="text-center">Nupro</th>
              <th class="text-center">Next</th>
            </tr>
          </thead>
          <tbody>
            {% for block in section.blocks %}
               <tr>
                <td{% if block.settings.text-center-1 %} class="text-center"{% endif %}>
                  {% if block.settings.clmn-1-check %}
                    <span class="checkbox"></span>
                  {% endif %}
                  {% if block.settings.clmn-1 != blank %}
                    {{ block.settings.clmn-1 }}
                  {% endif %}
                </td>
                <td{% if block.settings.text-center-2 %} class="text-center"{% endif %}>
                  {% if block.settings.clmn-2-check %}
                    <span class="checkbox checkbox-green"></span>
                  {% endif %}
                  {% if block.settings.clmn-2 != blank %}
                    {{ block.settings.clmn-2 }}
                  {% endif %}
                </td>
                <td{% if block.settings.text-center-3 %} class="text-center"{% endif %}>
                  {% if block.settings.clmn-3-check %}
                    <span class="checkbox"></span>
                  {% endif %}
                  {% if block.settings.clmn-3 != blank %}
                    {{ block.settings.clmn-3 }}
                  {% endif %}
                </td>
                <td{% if block.settings.text-center-4 %} class="text-center"{% endif %}>
                  {% if block.settings.clmn-4-check %}
                    <span class="checkbox"></span>
                  {% endif %}
                  {% if block.settings.clmn-4 != blank %}
                    {{ block.settings.clmn-4 }}
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Table",
    "class": "no-spaces old-content",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
	],
    "blocks": [
      {
        "type": "row",
        "name": "Row",
        "settings": [
          {
            "type": "header",
            "content": "Column 1"
          },
          {
            "type": "checkbox",
            "id": "clmn-1-check",
            "default": true,
            "label": "Enable checkbox"
          },
          {
            "type": "checkbox",
            "id": "text-center-1",
            "default": false,
            "label": "Enable text center"
          },
          {
            "type": "text",
            "id": "clmn-1",
            "label": "Column 1"
          },
          {
            "type": "header",
            "content": "Column 2"
          },
          {
            "type": "checkbox",
            "id": "clmn-2-check",
            "default": true,
            "label": "Enable checkbox"
          },
          {
            "type": "checkbox",
            "id": "text-center-2",
            "default": false,
            "label": "Enable text center"
          },
          {
            "type": "text",
            "id": "clmn-2",
            "label": "Column 2"
          },
          {
            "type": "header",
            "content": "Column 3"
          },
          {
            "type": "checkbox",
            "id": "clmn-3-check",
            "default": true,
            "label": "Enable checkbox"
          },
          {
            "type": "checkbox",
            "id": "text-center-3",
            "default": false,
            "label": "Enable text center"
          },
          {
            "type": "text",
            "id": "clmn-3",
            "label": "Column 3"
          },
          {
            "type": "header",
            "content": "Column 4"
          },
          {
            "type": "checkbox",
            "id": "clmn-4-check",
            "default": true,
            "label": "Enable checkbox"
          },
          {
            "type": "checkbox",
            "id": "text-center-4",
            "default": false,
            "label": "Enable text center"
          },
          {
            "type": "text",
            "id": "clmn-4",
            "label": "Column 4"
          }
        ]
      }
    ]
  }
{% endschema %}