<div class="small-width small-width-custom">
  {% if section.settings.title %}
    <h2 class="rewards-title medium-up--text-center bold"> 
      {{ section.settings.title }}
    </h2>
  {% endif %} 
  <div class="rewards-image">
    <img src=" {{ 'dentists-thankyou.svg' | asset_url }}">
  </div>
  {% if section.settings.subtitle %}
    <div class="rewards-subtitle medium-up--text-center bold">
      <p>{{ section.settings.subtitle }}</p>
    </div>
  {% endif %}
  {% if section.settings.paragraph %}
    <div class="small--text-left medium-up--text-center margin-bottom-medium small-width">
      {{ section.settings.paragraph }} 
    </div>
  {% endif %}
  {% if section.settings.button_link %}
    <div class="text-center">
      <a class="btn btn-new margin-top-md" href="{{ section.settings.button_link }}">
        {{ section.settings.button_text }} 
      </a>
    </div>
  {% endif %}
</div>
  
{% schema %}
  {
    "name": "Section name",
	"class": "index-section", 
    "settings": [
	{
	  "type": "text", 
      "id" : "title", 
	  "label" : "Heading"
	}, 
    {
	  "type": "image_picker", 
      "id" : "image", 
	  "label" : "Image"
	},
	{
	  "type": "text", 
      "id" : "subtitle", 
	  "label" : "Subheading"
	}, 
    {
	  "type": "richtext", 
      "id" : "paragraph", 
	  "label" : "Paragraph"
	}, 
	{
	  "type": "text", 
	  "id":   "button_text",
	  "label" : "Button Text",
	  "default": "Join Now"
	},
	{
	  "type": "url", 
	  "id": "button_link", 
	  "label": "Button Link"
	}
	
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
