<div class="page-width small-hide" data-section-id="{{ section.id }}" data-section-type="quotes">
  <div class="grid">
    {% if section.settings.show_cta %} 
  <div class="grid__item medium-up--one-whole">
{% include 'heading-snippet', settings: 'text-left bold color-white' %}
    </div>
    {% else %}
     <div class="grid__item medium-up--one-whole">
{% include 'heading-snippet', settings: 'text-center bold color-white' %}
    </div>
    
    {% endif %}
    {% if section.settings.show_cta %}
    <div class="grid__item medium-up--one-third">
         {% if section.settings.button_label != blank and section.settings.button_link != blank %}
  <div class="medium-up--text-center btn-holder">
        <a href="{{ section.settings.button_link }}" class="btn  margin-auto btn--long">
          <span>{{ section.settings.button_label }}</span> {% include 'icon-arrow-right' %}
        </a>
  </div>
      {% endif %}
  </div>
    {% endif %}
  </div>
  {% if section.blocks.size > 0 %}
    <div class="quotes-wrapper margin-auto">
      <div class="facebook-quotes-slider custom-slider medium-up--one-whole margin-auto">
        {% for block in section.blocks %}
        <div>
          <div class="quotes-slide text-left" {{ block.shopify_attributes }}>
            <div class="review-holder boxed padding-md">
              {% if section.settings.facebook_logo != blank %}
              <div class="logo-holder text-center  margin-bottom-md">
                
          <img class="margin-auto" src="{{ section.settings.facebook_logo |img_url: '60x60', crop:'center' }}"/>
          
        </div>
             {% endif %}   
              <blockquote class="medium-up--one-whole margin-auto quotes-slider__text text-center no-padding margin-bottom-md">
             {% if block.settings.quote != blank %}
                {{ block.settings.quote |replace: '<p>', '<p class=" no-margin">'}}
              
              {% endif %}
              
            </blockquote>

            <div class="medium-up--one-whole">
              <div class="grid grid--no-gutters margin-top-sm grid--table">
                
               <div class="grid__item one-fifth"> 
                <div class="round bubble no-overflow">
          {% if block.settings.image != blank %}
          <img src="{{ block.settings.image |img_url: '65x65', crop:'center' }}"/>
          {% endif %} 
        </div>
                </div>
                <div class="grid__item four-fifths">
              {% if block.settings.author != blank %}
                <p class="no-margin bold">{{ block.settings.author | escape }}</p>
              {% endif %}
                  {% if block.settings.facebook_name != blank and block.settings.facebook_link != blank %}
                  <a href="{{block.settings.facebook_link}}"> <p class="no-margin font-size-2">{{ block.settings.facebook_name }}</p></a>
                  {% endif %}
                  
              </div>
              </div>
            </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  
  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}
  {% if section.settings.additional_link != blank and section.settings.additional_link_label != blank %}
  <div class="text-center">
        <a href="{{ section.settings.additional_link }}" class="btn margin-auto"> 
          <span>{{ section.settings.additional_link_label }}</span>
        </a>
  </div>
      {% endif %}
</div>
<script>

  $(document).ready(function(){
    $('.facebook-quotes-slider').slick({
      dots: false,
      slidesToShow: 3,
 	 slidesToScroll: 3,
      responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        infinite: true,
        dots: false
      }
    }]
    });
  })
</script>
<div class="page-width medium-up--hide" data-section-id="{{ section.id }}" data-section-type="quotes">
  <div class="grid">
    {% if section.settings.show_cta %} 
  <div class="grid__item medium-up--one-whole">
{% include 'heading-snippet', settings: 'text-left bold color-white' %}
    </div>
    {% else %}
     <div class="grid__item medium-up--one-whole">
{% include 'heading-snippet', settings: 'text-center bold color-white' %}
    </div>
    
    {% endif %}
    {% if section.settings.show_cta %}
    <div class="grid__item medium-up--one-third">
         {% if section.settings.button_label != blank and section.settings.button_link != blank %}
  <div class="medium-up--text-center btn-holder">
        <a href="{{ section.settings.button_link }}" class="btn  margin-auto btn--long">
          <span>{{ section.settings.button_label }}</span> {% include 'icon-arrow-right' %}
        </a>
  </div>
      {% endif %}
  </div>
    {% endif %}
  </div>
  {% if section.blocks.size > 0 %}
    <div class="quotes-wrapper margin-auto">
      <div class="small-facebook-quotes-slider custom-slider medium-up--one-whole margin-auto">
        {% for block in section.blocks %}
        <div>
          <div class="quotes-slide text-left" {{ block.shopify_attributes }}>
            <div class="review-holder boxed padding-md">
              {% if section.settings.facebook_logo != blank %}
              <div class="logo-holder text-center  margin-bottom-md">
                
          <img class="margin-auto" src="{{ section.settings.facebook_logo |img_url: '60x60', crop:'center' }}"/>
          
        </div>
             {% endif %}   
              <blockquote class="medium-up--one-whole margin-auto quotes-slider__text text-center no-padding margin-bottom-md">
             {% if block.settings.quote != blank %}
                {{ block.settings.quote |replace: '<p>', '<p class=" no-margin">'}}
              
              {% endif %}
              
            </blockquote>

            <div class="medium-up--one-whole">
              <div class="grid grid--no-gutters margin-top-sm grid--table">
                
               <div class="grid__item one-fifth"> 
                <div class="round bubble no-overflow">
          {% if block.settings.image != blank %}
          <img src="{{ block.settings.image |img_url: '65x65', crop:'center' }}"/>
          {% endif %} 
        </div>
                </div>
                <div class="grid__item four-fifths">
              {% if block.settings.author != blank %}
                <p class="no-margin bold">{{ block.settings.author | escape }}</p>
              {% endif %}
                  {% if block.settings.facebook_name != blank and block.settings.facebook_link != blank %}
                  <a href="{{block.settings.facebook_link}}"> <p class="no-margin font-size-2">{{ block.settings.facebook_name }}</p></a>
                  {% endif %}
                  
              </div>
              </div>
            </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  
  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}
  {% if section.settings.additional_link != blank and section.settings.additional_link_label != blank %}
  <div class="text-center">
        <a href="{{ section.settings.additional_link }}" class="btn margin-auto"> 
          <span>{{ section.settings.additional_link_label }}</span>
        </a>
  </div>
      {% endif %}
</div>
<script>

  $(document).ready(function(){
    $('.small-facebook-quotes-slider').slick({
      dots: false,
      slidesToShow: 1,
 	 slidesToScroll: 1
    });
  })
</script>
{% include 'gradient-background' %}
{% schema %}
  {
    "name": "Testimonials",
    "class": "facebook-testimonials",
    "max_blocks": 9,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Testimonials"
      },
	  {
		"type": "checkbox",
		"id": "show_cta", 
		"label": "Show Call to action/Button",
		"default" : true
	  },
      {
        "type": "text",
        "id": "read_more",
        "label": "Read more label",
		"default": "read more"
      },
      {
        "type": "text",
        "id": "additional_link_label",
        "label": "Additional link in testimonials label"
      },
      {
        "type": "url",
        "id": "additional_link",
        "label": "Additional link in testimonials URL"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "color",
        "id": "prim_color",
        "label": "Left color",
        "default": "#248fba"
      },
      {
        "type": "color",
        "id": "sec_color",
        "label": "Right color",
        "default": "#0f7ca8"
      },
          {
            "type": "image_picker",
            "id": "facebook_logo",
            "label": "Facebook logo"
          }
    ],
    "blocks": [
      {
        "type": "quote",
        "name": "Testimonial",
        "settings": [
          {
            "type": "richtext",
            "id": "quote",
            "label": "Text",
            "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
          },
          {
            "type": "text",
            "id": "author",
            "label": "Author",
            "default": "Author's name"
          },
      {
        "type": "text",
        "id": "facebook_name",
        "label": "facebook acount label"
      },
      {
        "type": "url",
        "id": "facebook_link",
        "label": "Facebook link"
      },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ]
  }
{% endschema %}
