<style>
  .doc-pre-footer { 
    display: none; 
  }
</style>




<div class="wrap old-content">
  
  {% section 'old-style-hero-prophy' %}
  
<div id="features">
  <div class="wrappercontent">
  <h1 class="text-center"> What Makes Our Paste Better? </h1>

<div class="page-width">
  <div class="grid">
  <div class="grid__item medium-up--one-third text-center"> 
    <div class="img">
     {{ 'dyes.png' | asset_url | img_tag }}
    </div>
    <h2>No Dyes</h2>
    <p>Dyes are a messy additive that alters the consistency of paste</p>
  </div>
  <div class="grid__item medium-up--one-third text-center"> 
    <div class="img">
     {{ 'fluoride.png' | asset_url | img_tag }}
    </div>
    <h2>No Fluoride</h2>
    <p>Fluoride makes paste to be more bitter and the uptake is negligible during polishing. Many families wish to avoid this additive</p>
  </div>
  <div class="grid__item medium-up--one-third text-center"> 
    <div class="img">
     {{ 'titanium.png' | asset_url | img_tag }}
    </div>
    <h2>No Titanium</h2>
    <p>Titanium is used as a bleach. It makes paste harder to rinse off and causes splatter </p><div class="brr"> lk </div> 
  </div>
 
  <div style="clear:left" class="grid__item medium-up--one-third text-center"> 
    <div class="img">
     {{'piggy.png' | asset_url | img_tag }}
    </div>
    <h2>Costs less</h2>
    <p>$30/200 cups means industry best quality at a fraction the cost.</p><div class="brr">  lk </div> 
  </div>
     <div class="grid__item medium-up--one-third text-center"> 
    <div class="img">
     <img style="height:130px;" src="{{ 'wonderful-icecream.png' | asset_url }}">
    </div>
    <h2>Tastes Great</h2>
    <p>Our flavors are made by ice cream makers </p>
  </div> <div class="grid__item medium-up--one-third text-center"> 
     <div class="img">
     {{'tooth.png' | asset_url | img_tag }}
    </div>
    <h2>Developed by a Dentist</h2>
    <p>Dr. David Epstein practiced 45 years as a Pediatric Dentist; Wonderful is part of his lifetime pursuit for improvement from hands-on experience  </p>
  </div>
 
  </div>
    </div>
</div>
  </div>
  
  <div id="cta1">
    <div class="wrappercontent">
      
    
    <h2 class="h1 small-o small--margin-bottom-0"> 200 cups for $30.00 <br/> Our quality can't be beat. </h2>
      
      <div class="buttons text-center"> 
        <!--
        <a href="/cart"> <button class="mybtn sec" > Order Now </button></a>
        <a href="/pages/final">  <button class="mybtn fir"> Request a sample </button> </a>
		-->
      </div>
    
  </div>
  </div>
<div id="direct" class="text-center"> 
  <div class="wrappercontent" >
  <h2 class="h1"> We only sell direct. We save you money. </h2>
  </div>
  </div>
  <div id="process" class="text-center">
    <h2 class="h1"> Our process is simple </h2>
    <div class="wrappercontent"> 
  <div class="big-seventh">
     {{ 'formulate.png' | asset_url | img_tag }}
      <h2> Formulate </h2>
      </div>
         <div class="small-seventh">
    {{ 'arrow.png' | asset_url | img_tag }}
         
</div>
     
        <div class="big-seventh">
     {{ 'warehouse.png' | asset_url | img_tag }}
          <h2> Warehouse </h2>
      </div>
         <div class="small-seventh">
    {{ 'arrow.png' | asset_url | img_tag }}
        
</div>
 
        <div class="big-seventh">
     {{ 'ship.png' | asset_url | img_tag }}
             <h2> Ship  </h2>
      </div>
         <div class="small-seventh">
    {{ 'arrow.png' | asset_url | img_tag }}
</div>  
      
        <div class="big-seventh">
     {{ 'dental-office.png' | asset_url | img_tag }}
             <h2> Success </h2>
      </div>
       
      
    </div>
  </div>
  <div class="text-center" id="price">
    <div class="wrappercontent"> 
      
      <h2 class="h1">How do we keep our price so low? </h2>
      <div class="grid">
       <div class="grid__item medium-up--one-quarter">
    {{ 'no-advertising.png' | asset_url | img_tag }}
         <h2> No large advertising budget </h2>
      
      </div>
         <div class="grid__item medium-up--one-quarter">
    {{ 'no-reps.png' | asset_url | img_tag }}
  <h2> No costly sales reps  </h2><div class="brr">  lk </div> 
     
      
      </div>
         <div class="grid__item medium-up--one-quarter">
    {{ 'no-supplyhouse.png' | asset_url | img_tag }}
        <h2> No dental supply house markup </h2>
           
     
      
      </div>
         <div class="grid__item medium-up--one-quarter">
    {{ 'no-fancy.png' | asset_url | img_tag }}
 <h2> No fancy packaging </h2><div class="brr">  lk </div> 
      
      </div>
      </div>
        <div class="padding-top-xlg2 text-center">
      <h2 class="h1 margin-bottom-lg margin-bottom-xlg">Start saving thousands ordering direct</h2>
        
          <div class="margin-top-xlg old-style">
        <a href="/cart"> <button class="mybtn sec" > Order Now </button></a>
        <a href="/pages/sample">  <button class="mybtn fir"> Request a sample </button> </a>
          </div>
  </div>
  
    </div>
  </div>
</div>

