
    <title> Prophy Paste | Fluoride Varnish For Adults And Children wonderful</title>
    <style>

      #firstsec{

 position: relative;
		background-size:cover;

		background-repeat:no-repeat;

		background-attachment: fixed;

		    background-position: center;

			width:100%;

    padding-top: 38%;
		}

	.chem-free{

	}

.pre-footer-reviews-holder { 
  display: none; 
}

	.chem-free{

	}
	.mob-zero {
    position: absolute;
    transition: all 0.9s ease-out;
    transform: translate(-50%, -25%);
}


	img.guru{


  position: relative;
  -webkit-animation-name: example;  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 3s;  /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
   animation-fill-mode: forwards;
  animation-name: example;
  animation-duration: 5s;
   animation-direction:normal;
  animation-delay: 1s;
 animation-iteration-count: 1;

	}
@-webkit-keyframes example {
0%       { transform: translatex(0px) translatey(0px);opacity:1; }



	100%     { transform: translatex(360px) translatey(-260px);opacity:0; }


}

@keyframes example {
0%       { transform: translatex(0px) translatey(0px);opacity:1; }



	100%     { transform: translatex(360px) translatey(-260px);opacity:0; }



}
	.video-section {
    position: relative;
}
.video-section p {
    position: absolute;
    top: 50%;
    left: 0;
    opacity: 1;
    display: inline-block;
    right: 0;
    background: #00000063;
    color: #fff;
    text-align: center;
    font-size: 70px;
}
.ytp-title {
    display: none !important;
}
.ytp-chrome-top.ytp-show-watch-later-title.ytp-share-button-visible.ytp-show-share-title.ytp-show-cards-title {
    display: none !important;
}
.youtube-link, .youtube-link-dark {

    font-size: 42px;
    font-family: "Work Sans";


}
.fluoride {
    font-size: 4rem;
    margin: 0;
    color: #252525;
    padding: 14px 0;
    display: inline-block !important;
    position: absolute;
    bottom: 20px;
    left: 140px;
}
      @media (max-width: 767.5px) {
       .fluoride {
         left: 30px;
       }
      }

div#middle-class {
    font-size: 80px;
    line-height: 1.2;
    letter-spacing: 1px;
    width: 70%;
    /* text-align: center; */
    margin: auto;
    padding-bottom: 90px;
}

.left-align{
	text-align:left;
}


@media screen and (max-width: 992px) and (min-width: 768px) {


.plmk h2 {
    font-size: 50px;
	    line-height: 60px;
}

p.full-center {
    font-size: 65px;

    line-height: 60px;
}

.mnbvc {

    height: 400px;

}
.carousel-inner .item img {
    margin: -50px 0px !important;
}
.youtube-link, .youtube-link-dark {
    font-size: 20px;

    width: 35%;
}
}


@media screen and (max-width: 767px) and (min-width: 450px) {
.train {

       width: 50% !important;
    transform: translate(-100%, 200%) !important;
}
.mob-zero {
    transform: translate(-50%, -50%);
}
.mnbvc {
    height: 300px !important;
}
p.full-center {
    font-size: 48px;
    line-height: 50px;
	top: 20%;
}
img.percent.sideimg.wow.bounceInUp {
    width: 20% !important;
}

}





@media only screen and (max-width: 1024px) {
.plmk h2 {
  font-size: 58px;
margin-right: 50px;
}
#secndsec h2, .h2-bubble-heading {

    padding: 40px 0px;
}

}

@media only screen and (max-width: 425px) {
img.mob-zero {
    width: 50% !important;

}
p.full-center {
    font-size: 30px;

    line-height: 30px;
}
}


@media only screen and (max-width: 767px) {

	#secndsec {

    height: 800px;
}


.youtube-link, .youtube-link-dark {
    font-size: 15px;
  width: 50%;
}
.center-cls {
     width: 96%;
    padding-left: 10px;
}
img.mob-zero {
    width: 20%;
    position: absolute;
    bottom: -25em;

    right: 0;
}

p.fluoride {
    font-size: 22px;
    margin: 0;
    color: #000;
    padding: 0px 0px;
}
.scnd2 {
    height: auto;
}


#secndsecs .carousel-inner .active .row {
    padding: 35px 15px;
  }
  #secndsecs .carousel-inner .active p {
    font-size: 20px;
  }
  #secndsecs .carousel-inner .item img {
          position: absolute;
    right: 0px;
    width: 100%;  }
	.video-section p {
    display: none !important;
}
.secnd21 p {
    font-size: 35px;
    font-weight: 600;
    line-height: 45px;
}
#secndsec h2, .h2-bubble-heading {
      font-size: 30px;
    line-height: 38px;
    padding: 0px;
    font-weight: 600;
    width: 100%;
}
#secndsec h2 br{
	display:none;
}
  
#secndsec .h2-bubble-heading br {
  display: none; 
}
#sectionforth h2{
	   font-size: 35px;
	   padding: 10px 0;
	   line-height: 50px;
}
#sectionforth h3 {
    font-size: 24px;
    line-height: 35px;
}
.empety_space {
    height: 10px;
}
.mnbvc {

    height: auto;
}
.heda h2 {
    font-size: 35px;
    line-height: 0px;
    padding: 30px 0;
    font-weight: 600;
    color: #fff;
}
.plmk h2 {
    font-size: 35px;
    line-height: 40px;
	    padding: 0px 0;
    margin-right: 0 !important;


}
.plmk{
	height:auto;
}
.plmk h2 br {
   display:none;
}
#firstsec{background-attachment:scroll;}
.firstlink {

    margin-top: 240px;
    margin-bottom: 0px;
}

.firstlink h3 {
    text-decoration: none;
    font-size: 21px;
    font-weight: 600;
}
.train {display: block;width:100%;    max-width: 1300px;    position: relative; top: -265px;    opacity: 1;    transition: all 0.9s ease-out;    transform: translate(-100%, 175%);}
div#middle-class {
    font-size: 28px;
    line-height: 31px;
    padding: 35px 4px;
    letter-spacing: -0;
    width: 100%;
    padding-bottom: 90px;
}

.topimg {

    display: block;
    text-align: center;
    margin: 20px auto;
    width: 70%;
	height:auto;
}
#sectionforth h2 br {
    display: none;
}
.percent{
	width:50% !important;
}
.trainMotion2 {

    animation-delay: 0s;
    width: 100%;
}
#secndsecs {

    background-size: contain;
    background-repeat: repeat;
}
.carousel-inner .active p{
  line-height:300px;
}
}

.swiper-button-next, .swiper-button-prev{
  filter: brightness(0) invert(1); 
  top: 40% !important;
  transform: translateY(-50%);
}
 
.swiper-button-prev {      
  left: 0px !important;
}
      
.swiper-button-next {      
  left: 97% !important;
}   
      html .main-content-padding-top .main-content {
    padding-top: 39px!important;
}


	</style>
    

 
    
  </head>
  <body>
    {% section 'header' %}

    <div class="container section-one" id="firstsec">
      <div class="stars"></div>
	  	<div class="twinkling"></div>

           <img class="heroimg" src="{{ 'wonderful-outofworld.png'| asset_url }}">
    <div class="row">
    <div class="col-sm-12">
 
    <div class="firstlink">
    	<span class="youtube-link" youtubeid="75FbDovNwno">Watch Video</span><br>
    </div>
    </div>
    </div>
    </div>

    <div class="container relative" id="secndsec">
<div class="col-sm-8">
    <div class="scnd2">
    <h1 class="h2-bubble-heading">Sensational<br>
Bubblegum<br>
Prophy Paste
</h1>

    </div>

</div>
<div class="col-sm-4 sideimg" style="position: relative; top: 200px;">

<img src="{{ 'bubble-boy-anim.gif' | asset_url }}" class="img-responsive aos-init aos-animate" data-aos="slide-up">
</div>
 <h4 class="fluoride">Fluoride-Free, Titanium-Free, No Dyes</h4>
</div>




<div class="bg-stars">
          <div class="stars"></div>
	  	<div class="twinkling"></div>
    <div class="c" id="secndsecs" style="position:relative">

<div id="trainMotion">
          <img class="absolute trainMotion3" src="{{ 'boy-bub.gif' | asset_img_url: '750x' }}" alt="Train" class="train" style="left: 2201.87px;">
        </div>


       <div id="middle-class"> The best tasting prophy paste<br/>
at a fraction of the cost.</div>
      
 <img src="{{ 'bunch2.gif' | asset_url }}" class="trainMotion5" />





        </div>

    </div>




        <section class="mnbv">
<div id="sectionforth">
  <h2>Better taste <br>makes all<br> the difference.</h2>
     <div class="container">



     <div class="row">

     <div class="col-sm-12 left-align">


     </div>

<div class="center-cls" style="clear: both;">

<div class="row">
<div class="col-sm-6 float-none">
  <img src="{{ 'fluoride.png' | asset_url }}" class="img-responsive chem-free">
   <h4 class="better">Why did we remove Fluoride?</p>
  <p class="better-low">There is no reason to have fluoride in prophy paste. During polishing, fluoride uptake is negligible. It alters the flavor of paste to be more bitter. Many families wish to avoid fluoride altogether.</p>
</div>
</div>

<div class="row">
     <div class="col-sm-6 float-none">
<img src="{{ 'titanium.png' | asset_url }}" class="img-responsive chem-free">
  <h4 class="better">Why did we remove Titanium?</p>
  <p class="better-low">Titanium changes the consistency. It hardens the paste while making it more sticky. This means it does not apply as smoothly, it splatters more, and is harder to rinse off.</p>
</div>
 <img src="{{ 'bunch1.gif' | asset_url }}" class="trainMotion6">
</div>
<div class="row">
<div class="col-sm-6 float-none plain-depend">
  <img src="{{ 'dyes.png' | asset_url }}" class="img-responsive chem-free">
    <h4 class="better">Why did we remove dyes?</p>
  <p class="better-low">Dyes alter the consistency of paste and is an additive that many families wish to avoid. The natural color of prophy paste in our opinion is more appealling and certainly less messy.</p>
</div>
</div>
</div>



     </div>


</div>
     </div>

</section>
<div id="trainMotion2">
  <img src="{{ 'plane3.gif' | asset_url }}" alt="Train" class="plain-area trainMotion2">
</div>
<section class="mnbvc">
<div class="img1">

<h2 class="full-center">We only sell direct.
<br>We save you money.</p>

</div>



</section>
 
<section class="bg-stars" id="secndsecs">
          <div class="stars"></div>
	  	<div class="twinkling"></div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
    <img class="topimg" src="{{ 'satellite.gif' | asset_url }}">
     

<!-- Bottom Carousel Indicators -->


<!-- Carousel Slides / Quotes -->
      <div class="swiper-container inner">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
      <div class="swiper-slide item">
        <div class="inside">
        
        <div class="row">
    <div class="col-sm-12">
<!--    <img src="./Prophy Paste _ Fluoride Varnish For Adults And Children wonderful_files/5-stars.png"> -->
      <p class="text-left">I just want to thank you for the awesome prophy paste. I can offer my patients prophy paste without fluoride. The patients love Wonderful. Thanks again </p> 
 <p>Lanta A.</p>
         </div>
  </div>
  <img src="{{ 'reviewer1_65x65_crop_center.png' | asset_img_url: '200x' }}" class="avatar" >
      </div>
        </div>
      <div class="swiper-slide item">
        <div class="inside">
        
        <div class="row">
    <div class="col-sm-12">
<!--    <img src="./Prophy Paste _ Fluoride Varnish For Adults And Children wonderful_files/5-stars.png"> -->
      <p class="text-left">
The paste is top quality with minimal splatter. The price is great as well as the dye free option which is difficult to find with prophy paste manufacturing.  </p>
      <p> LIsa F.</p>
         </div>
  </div>
<img src="{{ 'reviewer2_65x65_crop_center.png' | asset_img_url: '200x' }}" class="avatar" >
     
      </div>
        </div>
          <div class="swiper-slide item">
        <div class="inside">
        
        <div class="row">
    <div class="col-sm-12"> 
<!--    <img src="./Prophy Paste _ Fluoride Varnish For Adults And Children wonderful_files/5-stars.png"> -->
      <p class="text-left">Smells great, does a great job removing the soft plaque build up and external stains, reasonable price, ideal for patients with sensitive gag reflex.. our patients LOVE IT! 
      <br/> Erin S. 
</p>
         </div>
  </div>
<img src="{{ 'reviewer1_65x65_crop_center.png' | asset_img_url: '200x' }}" class="avatar" >
     
      </div>
        </div>
      <div class="swiper-slide item">
        <div class="inside">
        
        <div class="row">
    <div class="col-sm-12">
<!--    <img src="./Prophy Paste _ Fluoride Varnish For Adults And Children wonderful_files/5-stars.png"> -->
      <p class="text-left"> 
Smooth and great for stain! The flavors are great!!	 
      </p>
      <p> Rossina H. </p>

         </div>
  </div>
<img src="{{ 'reviewer3_65x65_crop_center.png' | asset_img_url: '200x' }}" class="avatar" >
     
      </div>
        </div>
      
     
       
      
      <div class="swiper-slide item">
        <div class="inside">
        
        <div class="row">
    <div class="col-sm-12"> 
<!--    <img src="./Prophy Paste _ Fluoride Varnish For Adults And Children wonderful_files/5-stars.png"> -->
      <p class="text-left">The prophy paste has been a hit with the kids! They love the choice of flavor offered in the varnish! Thank you! </p>
      <p> Dana S. 
</p>
         </div>
  </div>
<img src="{{ 'reviewer1_65x65_crop_center.png' | asset_img_url: '200x' }}" class="avatar" >
     
      </div>
        </div>
      
       <div class="swiper-slide item">
        <div class="inside">
        
        <div class="row">
    <div class="col-sm-12"> 
<!--    <img src="./Prophy Paste _ Fluoride Varnish For Adults And Children wonderful_files/5-stars.png"> -->
      <p class="text-left">I loved both of my WONDERFUL products varnish and paste. The title of this company really says it all, wonderful!  </p>
      <p> Zoey W. </p>
         </div>
  </div>
<img src="{{ 'reviewer1_65x65_crop_center.png' | asset_img_url: '200x' }}" class="avatar" >
     
      </div>
        </div>
      
      <div class="swiper-slide item">
        <div class="inside">
        
        <div class="row">
    <div class="col-sm-12"> 
<!--    <img src="./Prophy Paste _ Fluoride Varnish For Adults And Children wonderful_files/5-stars.png"> -->
      <p class="text-left"> Excellent and such flavorful prophy paste for kids as well as adults!Thank you so much for your free samples! The patients loved them! </p>
      <p> Claire H. </p>
         </div>
  </div>
<img src="{{ 'reviewer1_65x65_crop_center.png' | asset_img_url: '200x' }}" class="avatar" >
     
      </div>
        </div>
       
         </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar hide"></div>
</div>
      


<section class="office-detail">
<div class="heda">
  <div class="row ">
  <h2>Upgrade your office</h2>
  <a href="/cart" class="buy">Try it now</a>
  </div>
</div>
</section>


      </div>
    </div>

  </div>
  </div>
</section>




<section class="office-detail bg-stars">
          <div class="stars"></div>
	  	<div class="twinkling"></div>
</section>

<section class="bg-stars" id="secndsecs">

          <div class="stars"></div>
	  	<div class="twinkling"></div>
 </section>


    <footer class="site-footer">
          <span class="site-footer-credits"></span>
 

		<!-- GRT Youtube Popup -->
		<script src="{{ 'grt-youtube-popup.js' | asset_url }}"></script>

		<!-- Initialize GRT Youtube Popup plugin -->
		<script>
            $(document).ready(function(){
              
var mySwiper = new Swiper('.swiper-container', {
  	navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
     },
    speed: 400,
    spaceBetween: 100
});
              
			// Demo video 1
			$(".youtube-link").grtyoutube({
				autoPlay:true,
				theme: "dark"
			});

			// Demo video 2
			$(".youtube-link-dark").grtyoutube({
				autoPlay:false,
				theme: "light"
			});
              
          
          var lastScrollTop = 0;
          
		$(window).scroll(function (event) {
        console.log('srcoll');
    		var st = $(this).scrollTop();
    if (st > lastScrollTop) {
        $('.sideimg img').css('top','-=' + $(window).scrollTop()/4 );
    } else {
        $('.sideimg img').css('top', '+=' + $(window).scrollTop()/4 );
    }
    lastScrollTop = st;
});
            })
          
		</script>
 



      </footer>
  
  </body>
</html>